<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--<import resource="../META-INF/spring-provider.xml"/>-->
    <!--<import resource="../META-INF/spring-mq.xml"/>-->
    <!--<import resource="../META-INF/spring-redis.xml"/>-->
    <!--<import resource="classpath:spring-ucenter-client.xml"/>-->

	<!-- 自动扫描 -->
	<context:component-scan base-package="com.qtone.wxq.web.teacher" />
	
	<!-- <aop:aspectj-autoproxy proxy-target-class="true" />  -->
	
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<!-- 将StringHttpMessageConverter的默认编码设为UTF-8 -->
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
		    	<constructor-arg value="UTF-8" />
			</bean>
			<!-- 将Jackson2HttpMessageConverter的默认格式化输出设为true -->
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"></bean>			
  		</mvc:message-converters>
	</mvc:annotation-driven>
	
	<!-- 容器默认的DefaultServletHandler处理 所有静态内容与无RequestMapping处理的URL-->	
	 <mvc:default-servlet-handler/> 
	
	<bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath" value="${vm.rootPath}"></property>
		<property name="velocityProperties">
	      <props>
	       <prop key="input.encoding">UTF-8</prop>
	       <prop key="output.encoding">UTF-8</prop>
	      </props>
	    </property>
   </bean>


   <bean id="viewResolver" class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
		<property name="cache" value="false"></property>
		<property name="prefix" value=""></property>
		<property name="suffix" value="${vm.suffix}" />
		<property name="contentType"><value>text/html;charset=UTF-8</value></property>
   </bean>
   
   <bean id="multipartResolver"  class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >
        <property name="maxUploadSize" value="1024000000"/>  
        <property name="resolveLazily" value="true"/>  
        <property name="maxInMemorySize" value="4096"/>  
        <property name="defaultEncoding" value="UTF-8"/>
   </bean>
   
   <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    	<property name="order" value="1" />  
	    <property name="ignoreUnresolvablePlaceholders" value="true"/>
		<property name="locations">
			<list>
				<value>/WEB-INF/view.properties</value>
				<!-- 习悦的用户登录控制入口 -->
				<!-->/WEB-INF/ucenter-client.properties</value-->
			</list>
         </property>
	</bean>
	
	<!-- 将Controller抛出的异常转到特定View, 保持SiteMesh的装饰效果 -->
	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">  
		<property name="exceptionMappings">  
			<props>  
				<prop key="java.lang.Throwable">404</prop>
            </props>  
		</property>  
    </bean>
 
</beans>
