@charset "utf-8";
html{font-size:100px;}
*{ margin:0; padding:0; border:none; text-decoration:none;font-weight:normal;font-family:SimHei;list-style:none;box-sizing:border-box;}
body{ width:100%;margin:0;font-size:0.12rem;color:#666;}


body{background:#ffcc42;padding-bottom:0.2rem;}

/*------抽奖页------*/
.mainPage{position:relative;background:#ffcc42 url(../images/hd_bg.png) no-repeat; background-size:100%; padding-top:0.01rem;}
/*抽奖区*/
.zp_box{ width:2.66rem; height:2.66rem; margin:0.95rem auto 0; position:relative;}
.zp_box img{ width:2.66rem;}
.zp_box_bt{ position:absolute; top:33%; left:33%; width:0.9rem; height:0.9rem;}
.zp_box_bt img{ width:100%;}
.txt_1{ text-align:center; font-size:0.13rem; color:#fff; padding-top:0.02rem;}
.txt_1 b{ font-size:0.16rem; color:#ffcc42}
.txt_2{ text-align:center; font-size:0.09rem; color:#fff; padding-bottom:0.06rem;}
/*按钮区*/
.bt_box{ text-align:center; margin-top:0.15rem}
.bt_org{ width:1.40rem; height:0.36rem; background:#ff8a00; box-shadow:-0.05rem -0.05rem 0 #ff7800 inset; line-height:0.36rem; text-align:center; font-size:0.16rem; display:inline-block; color:#fff; text-decoration:none; border-radius:0.36rem;}
.bt_red{ width:1.40rem; height:0.36rem; background:#e12626; box-shadow:-0.05rem -0.05rem 0 #da1d1d inset; line-height:0.36rem; text-align:center; font-size:0.16rem; display:inline-block; color:#fff; text-decoration:none; border-radius:0.36rem;}
.bt_red1{ width:1.40rem; height:0.36rem; border:0.01rem solid #f23e4f;  line-height:0.36rem; text-align:center; font-size:0.16rem; display:inline-block; color:#f23e4f; text-decoration:none; border-radius:0.36rem; }


/*幸运区*/
.win_list{ margin-top:0.2rem}
.win_list .tit{ padding:0}
.win_list .tit img{ width:100%}
.win_list .con{ margin:0 5%; border-radius:10px;background:#dc0000; padding:10px;}
.win_list .con p{ height:0.32rem; background:#fff9d5; font-size:0.14rem; line-height:0.32rem; padding:0 0.1rem; margin-bottom:2px;}
.win_list .con p span{ color:#000000; padding-right:0.2rem;}
.win_list .con p b{ color:#e12626; font-weight:100 }
.win_list .con p b img{ margin-right:0.05rem; width:0.16rem; vertical-align:middle;}



/*------领奖页------*/
.img_box{padding:0; margin:0; position:relative;background:url(../images/hd_zj_01.png?v=1.0.1) no-repeat; background-size:100%;min-height:4.35rem;}
.img_box img{ width:100%;}
.img_box p{ font-size:0.12rem; padding:0.15rem 0; position:absolute; top:0; left:0.25rem; text-align:center; color:#fff; line-height:0.16rem}
.hd_main{background:url(../images/hd_js_06.png?v=1.0.1) repeat-y; background-size:100%; font-size:0.14rem; padding:0.10rem 0}
/*实物奖品*/
.Prize_m { width:100%; /*position:absolute;top:0; left:0*/ padding-top:0.01rem;}
.Prize_box{ width:1.42rem; height:1.42rem; background:#fff; border-radius:0.08rem; border:0.05rem solid #ffe712; margin:0.85rem auto 0.10rem; text-align:center}
.Prize_box img{ width:0.95rem; margin-top:0.05rem}
.Prize_m h1{ font-size:0.15rem; color:#fff; text-align:center}
.Prize_m h2{ font-size:0.18rem; color:#fffc00; text-align:center; padding:0.17rem 0 0.17rem}
.Prize_m h2 em{ font-style:normal; font-size:0.24rem}
.Prize_m h2 b{ color:#dc0000; font-size:0.15rem; background:#ffec91; line-height:0.35rem; border-radius:0.05rem; padding:0.05rem 0.20rem}
.Prize_m h2 a{ line-height:0.20rem;font-size:0.13rem; color:#ffec91; border:1px solid #ffec91; display:inline-block; border-radius:0.05rem; padding:0 0.06rem; margin-left:0.05rem}
.Prize_m h3{ font-size:0.12rem; color:#fff; padding:0 0.60rem; line-height:0.18rem}
.Prize_m h4{ font-size:0.12rem; color:#fff; padding:0 0.06rem 0.05rem; background:#f93131; margin:0 0.375rem; border-radius:0 0 0.08rem 0.08rem;}
.Prize_m h4 img{ width:100%}
.Prize_m h5{ font-size:0.12rem; color:#fff; padding:0.20rem 0.60rem; line-height:0.18rem}
/*红包奖品*/
.Prize_box1{ margin:0 auto 0.10rem; padding-top:0.475rem;text-align:center}
.Prize_box1 img{ width:100%}


/*------奖品、阅读、规则------*/
.my_Prize{ padding:0; margin:0;background:#fff;}
.my_Prize .tit{ height:0.42rem; background:#f23e4f; color:#fff; font-size:0.18rem; line-height:0.42rem; text-align:center}
.my_Prize .code{ padding:0; margin:0}
.my_Prize .code img{ width:100%}
.my_Prize table{ margin:0.10rem auto; width:96%}
.my_Prize table th{ font-size:0.13rem; border-bottom:1px solid #cbcbcb; line-height:0.30rem; color:#777777; padding:0 0.10rem}
.my_Prize table td{ font-size:0.15rem; border-bottom:1px solid #cbcbcb; padding:0.10rem; color:#000; }
.my_Prize table td b{ color:#f23e4f}
.my_Prize table td img{ width:0.23rem; margin-right:0.05rem; vertical-align:middle}

.my_Prize table.table1{ margin:0.10rem auto; width:96%}
.my_Prize table.table1 th{ font-size:0.13rem; border-bottom:1px solid #cbcbcb; line-height:0.30rem; color:#777777; padding:0 0.10rem}
.my_Prize table.table1 td{ font-size:0.15rem; border-bottom:1px solid #cbcbcb; padding:0.18rem 0.10rem; color:#000; line-height:0.18rem }
.my_Prize table.table1 td b{ color:#f23e4f}
.my_Prize table.table1 td img{ width:0.23rem; margin-right:0.05rem; vertical-align:middle}

.my_Prize h4{ font-size:0.14rem; color:#f23e4f; padding:0.05rem 0.10rem 0; line-height:0.18rem}

.norecord{text-align:center;height:1.5rem;line-height:1.5rem;font-size:0.18rem;}




/*版权*/
.copyright_box{ font-size:0.10rem; color:#000; padding-top:0.15rem; text-align:center}



/*弹框*/
.pop_box{ width:2.70rem; padding-top:0.15rem; background: url(../images/pop_bg.png) bottom no-repeat #f9464a; background-size:100%; position:absolute; top:35%; left:0.25rem; border-radius:0.10rem;z-index:1000;}
.pop_box p{ padding:0 0.2rem; padding-bottom:0.30rem; line-height:0.18rem; font-size:0.14rem; color:#fff; min-height:0.6rem;text-align:center;word-break:break-all;}
.pop_box .bt{ height:0.53rem;  text-align:center; padding-top:0.04rem}
.pop_box .bt_close{ width:0.25rem; height:0.25rem; position:absolute; right:-0.06rem; top:-0.05rem}
.pop_box .bt_close img{ width:0.25rem}
.bt_yellow{ width:1.40rem; height:0.36rem; background:#f5e303; box-shadow:-0.05rem -0.05rem 0 #f5c500 inset; line-height:0.33rem; text-align:center; font-size:0.16rem; display:inline-block; color:#e60005; text-decoration:none; border-radius:0.36rem;}











/*动画效果*/
.doudong{
	animation:doudong 0.5s ease infinite;
	-webkit-animation:doudong 0.5s ease infinite; 
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
@keyframes doudong{
	0% {transform:scale(1)}
	100% {transform:scale(1.1)}
}
@-webkit-keyframes doudong{
	0% {-webkit-transform:scale(1)}
	100% {-webkit-transform:scale(1.1)}
}


.rollimg{
	animation:rollimg 2s linear infinite;
	-webkit-animation:rollimg 2s linear infinite; 
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
@keyframes drollimgoudong{
	0% {transform:rotate(0)}
	100% {transform:rotate(360deg)}
}
@-webkit-keyframes rollimg{
	0% {-webkit-transform:rotate(0)}
	100% {-webkit-transform:rotate(360deg)}
}




.marque{max-height:3.4rem;overflow:hidden;}
/*
.marque_list{
	animation:marque 10s linear infinite;
	-webkit-animation:marque 10s linear infinite; 
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
@keyframes marque{
	0% {transform:translate(0,0)}
	100% {transform:translate(0,-5.1rem)}
}
@-webkit-keyframes marque{
	0% {-webkit-transform:translate(0,0)}
	100% {-webkit-transform:translate(0,-5.1rem)}
}
*/

















