<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="$!ctx/css/password.css" type="text/css" rel="stylesheet" />
<title>移动校园门户</title>
<script type="text/javascript" src="$!ctx/js/cmd/jquery/jquery/2.1.4/jquery.js"></script>
<link rel="shortcut icon" href="$!ctx/favicon.ico" />
<script type="text/javascript">
$(document).ready(function(){
   	$("#focus input").each(function(){
     	var thisVal=$(this).val();
     	//判断文本框的值是否为空，有值的情况就隐藏提示语，没有值就显示
     	if(thisVal!=""){
       		$(this).siblings("span").hide();
      	}else{
       		$(this).siblings("span").show();
      	}
     	//聚焦型输入框验证 
     	$(this).focus(function(){
       		$(this).siblings("span").hide();
      	}).blur(function(){
        	var val=$(this).val();
        	if(val!=""){
         		$(this).siblings("span").hide();
        	}else{
         		$(this).siblings("span").show();
        	} 
      	});
    })
    $("#keydown .input").each(function(){
     	var thisVal=$(this).val();
     	//判断文本框的值是否为空，有值的情况就隐藏提示语，没有值就显示
     	if(thisVal!=""){
       		$(this).siblings("span").hide();
      	}else{
       		$(this).siblings("span").show();
      	}
      	$(this).keyup(function(){
       		var val=$(this).val();
       		$(this).siblings("span").hide();
      	}).blur(function(){
        	var val=$(this).val();
        	if(val!=""){
         		$(this).siblings("span").hide();
        	}else{
         		$(this).siblings("span").show();
        	}
       	})
     }) 
})
function pwdCodeSend(){
	 var phone = $("#phone").val();
	 if(!phone){
		 alert("手机不能为空");
		 return;
	 }
	 var json = {
			 	"phone":phone,
	 			"type":1
		    };
	 $.post("$!ctx/passcode",
				{
		 			json:JSON.stringify(json)
				},
				function(result){
					if(result.resultCode == '0001'){
						$("#phone_yes").show();
						$("#phone_warn").hide();
						$("#phone_check").hide();
					}else{
						$("#phone_yes").hide();
						$("#phone_warn").show();
						$("#phone_check").show();
					}
				}
			);
}
function resetPwd(){
	 var phone = $("#phone").val();
	 var code = $("#pwdCode").val();
	 var password = $("#password").val();
	 var password_again = $("#password_again").val();
	 if(!phone){
		 alert("手机不能为空");
		 return;
	 }
	 if(!code){
		 alert("验证码不能为空");
		 return;
	 }
	 if(!password){
		 alert("密码不能为空");
		 return;
	 }
	 if(password.length <= 6){
		 alert("密码不能少于6位");
		 return;
	 }
	 var json = {
			"phone":phone,
 			"code":code,
 			"newpsw":password
	    };
	 if(password == password_again){
		 $.post("$!ctx/pswreset",
				{
		 			json:JSON.stringify(json)
				},
				function(result){
					if(result.resultCode == '0001'){
						$("#pwdCode_yes").show();
						$("#pwdCode_warn").hide();
						$("#pwdCode_check").hide();
						showDiv1();
					}else{
						$("#pwdCode_yes").hide();
						$("#pwdCode_warn").show();
						$("#pwdCode_check").show();
					}
				}
			);
	 }else{
		 $("#password_check").show();
		 $("#password_again_check").show();
		 return;
	 }
}
function phoneChange(){
	$("#phone_yes").hide();
	$("#phone_warn").hide();
	$("#phone_check").hide();
}
function pwdCodeChange(){
	$("#pwdCode_yes").hide();
	$("#pwdCode_warn").hide();
	$("#pwdCode_check").hide();
}
function passwordChange(){
	$("#password_check").hide();
	$("#password_again_check").hide();
}
</script>
</head>
<body>
<!--[if lte IE 9]>
<div id="warning" style="positin:absolute;top:0;left:0;background:#FFFFCC;z-index:1000;height:30px;line-height:30px;text-align:center;font-size:14px;width:100%;">您正在使用低版本的IE浏览器，在本页面的显示效果可能有异常。建议您升级到 <a href="http://www.microsoft.com/china/windows/internet-explorer/" target="_blank">Internet Explorer 9</a> 以上或： <a href="http://chrome.360.cn/">360极速浏览器</a> / <a href="http://www.google.com/chrome/?hl=zh-CN">Chrome</a> / <a href="http://www.mozillaonline.com/">Firefox</a>
<img src="$!ctx/images/ico_closed.png" style="vertical-align:middle;margin-left:30px;cursor:pointer;" onclick="close_browser_tips();"/>
</div>
<script type="text/javascript">
function browser_tips(el, eltop, elleft){  
	// check if this is IE6  
	if(!window.XMLHttpRequest){
		window.onscroll = function(){  
			el.style.top = (document.documentElement.scrollTop + eltop)+"px";  
			el.style.left = (document.documentElement.scrollLeft + elleft)+"px";  
		}
	}else {
		el.style.position = "fixed";
	}
}
function close_browser_tips(){
	document.getElementById("warning").style.display = 'none';
}
browser_tips(document.getElementById("warning"),0, 0);
</script>
<![endif]-->
	<div class="pass_t">
  		<div class="pass_t_m">
    		<div class="t_l"><img src="$!ctx/images/logo.png" /> 找回密码</div>
    		<div class="t_r"><a href="$!ctx/index">返回首页</a></div>
  		</div>
	</div>
	<div class="pass_m">
  		<form class="border_radius" id="focus">
    		<label>
    			<div class="label_tit">手机号：</div>
    			<span>请输入手机号</span>
    			<input name="phone" id="phone" type="text" class="input_txt" onchange="phoneChange();" />
    			<b>
    				<img id="phone_yes" src="$!ctx/images/ico_change_sel.png" style="display: none" />
    				<img id="phone_warn" src="$!ctx/images/ico_warn.png" style="display: none" />
    				<b id="phone_check" style="display: none" >该手机号码为非教师用户</b>
    			</b>
   			</label>
    		<label>
    			<div class="label_tit">验证码：</div>
    			<span>请输入验证码</span>
    			<input name="pwdCode" id="pwdCode" type="text" class="input_yzm" onchange="pwdCodeChange();" />
    			<a href="javascript:;" onclick="pwdCodeSend()" class="bt_yzm" >获取验证码</a>
    			<b>
    				<img id="pwdCode_yes" src="$!ctx/images/ico_change_sel.png" style="display: none" />
    				<img id="pwdCode_warn" src="$!ctx/images/ico_warn.png" style="display: none" />
    				<b id="pwdCode_check" style="display: none" >验证码不正确</b>
    			</b>
    		</label>
    		<label>
    			<div class="label_tit">新密码：</div>
    			<span>6位以上数字或字母</span>
    			<input name="password" id="password" type="password" class="input_txt" onchange="passwordChange();" />
    			<b id="password_check" style="display: none" >密码不一致</b>
   			</label>
    		<label>
    			<div class="label_tit">确认密码：</div>
    			<span>6位以上数字或字母</span>
    			<input name="password_again" id="password_again" type="password" class="input_txt" />
    			<b id="password_again_check" style="display: none" >密码不一致</b>
    		</label>
    		<a class="bt bt_pass" onclick="resetPwd();" href="javascript:;" >重置密码</a>
  		</form>
	</div>

	<!--弹出 切换角色-->
	<div id="bg" class="sugg_bg" href="javascript:closeDiv()" onmousewheel="return false;"></div>
	<div class="sugg" id="sugg">
  		<h2>找回密码 <a class="close_sugg" href="javascript:closeDiv()"></a></h2>
  		<div style="min-height:200px;">
    		<div class="ts_p"> <img src="$!ctx/images/ico_ok.png" /><br />
      		密码重置成功，请<a href="$!ctx/index">重新登录</a></div>
  		</div>
	</div>
	<!--弹出层js--> 
	<script type="text/javascript">
	function showDiv1(){
		document.getElementById('sugg').style.display='block';
		document.getElementById('bg').style.display='block';
	}
	function closeDiv(){
		document.getElementById('sugg').style.display='none';
		document.getElementById('bg').style.display='none';
	}
</script>
</body>
</html>
