<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="$!ctx/css/login.css" type="text/css" rel="stylesheet" />
<script src="$!ctx/js/cmd/encrypt/sha1.js"></script>
<script src="$!ctx/js/cmd/encrypt/jquery.js"></script>
<script type="text/javascript" src="$!ctx/js/cmd/encrypt/jquery.cookie.js"></script> 
<link rel="shortcut icon" href="$!ctx/favicon.ico" />
<script type="text/javascript">
$(document).ready(function(){
	var loginName = $.cookie('rememberMe');
	if(loginName && loginName != 'null'){
		$("#username").val(loginName);
		$("#rememberMe").attr("checked", true);
	}
});
function memberMe(obj){
	var _obj = $(obj);
	if(_obj.is(':checked')){  //被选中
		
	}else{
		$.cookie('rememberMe', null); 
	}
}
function onLoginSubmit(){
	
	var userName = $("#username").val();
	var password = $("#password").val();
	
	if(userName.trim() == ''){
		alert('请输入账号');
		return;
	}
	if(password.trim() == ''){
		alert('请输入密码');
		return;
	}
	
	var hashObj = new jsSHA(password, "TEXT");
	var encryptPwd = hashObj.getHash("SHA-1", "HEX");
	var client_id = $("#client_id").val();
	var client_secret = $("#client_secret").val();
	var grant_type = $("#grant_type").val();
	var scope = $("#scope").val();
	
	var url = "$!loginUrl/oauth/token?client_id="+client_id+
	    "&client_secret="+client_secret+"&grant_type="+grant_type+
	    "&scope="+scope+"&username="+userName+
	    "&password="+encryptPwd;
	
	$.ajax({
	        url:url,
	        dataType : "json",
	        success : function(res){
	        	  console.log("返回成功", res);
	        	  if(res && res.bizData && res.bizData.value){
	        		  if($("#rememberMe").is(':checked')){  //被选中
	        			  $.cookie('rememberMe', userName, { expires: 7 }); 
	        		  }
	        		  var redirectUri = $("#redirect_uri").val();
		              var script = document.createElement("script");
		              script.src = "$!checkTokenUrl?access_token="+res.bizData.value;
		              $("body").append(script);
		              setTimeout(function(){
		                 window.location = redirectUri;
		              },2000);
	        	  }else{
	        		  alert("登录失败");
	        	  }
	        },
	        error : function(res){
	        	console.log("返回失败", res);
	            res = JSON.parse(res.responseText);
	            alert('密码错误');
	        }
	});
}
function detectionValue(obj,exampleValue,type){
	
	if(type == 1){  //onfocus
		if($(obj).val() == exampleValue){
			$(obj).val('');
		}
	}else{  //onblur
		if($(obj).val().trim() == ''){
			$(obj).val(exampleValue);
		}
	}
	
}
function detectionPassword(type){
	
	var $pwd = $("#password");
	var $pwdText = $("#password_text");
	if(type == 1){  //onfocus
		$pwd.val('');
		$pwdText.hide();
		$pwd.show();
		$pwd.focus();
	}else{  //onblur
		if($pwd.val().trim() == ''){
			$pwd.hide();
			$pwdText.show();
		}
	}
	
}
</script>
<title>微校官网</title>
</head>
<body>
<div class="top_warp">
	<div class="top_box">
    	<div class="top_l_adv">
        	<img src="$!ctx/images/log_img1.jpg" />
        </div>
        <div class="top_r_log">
        	<div class="login">
 				<h3>登录微校</h3>
 				<input id="username" name="username" type="text" class="login_user" value="账号/手机号码" onblur="detectionValue(this,'账号/手机号码',2)"  onfocus="detectionValue(this,'账号/手机号码',1)" />
 				<input id="password" name="password" type="password" class="login_pass" value="" onblur="detectionPassword(2)"  style="display: none" />
 				<input id="password_text" name="password_text" type="text" class="login_pass" value="密码" onfocus="detectionPassword(1)" style="display: " />
 				<div class="login_mm">
 					<span><input id="rememberMe" name="remeberMe" type="checkbox" value="" onclick="memberMe(this)" />记住用户名</span>
 					<span style="text-align:right"><a href="$!ctx/forget">忘记登录密码?</a></span>
				</div>
				<a class="b_login" href="javascript:void();" onclick="onLoginSubmit();" >登录</a>
			</div>
        </div>
    </div>
</div>
<div class="fun_warp">
	<div class="fun_list">
		<dl>
    		<dt><img src="$!ctx/images/ico_tz.png" /><br />通知</dt>
			<dd>可通过平台以微信的方式给家长发送通知消息内容，并可查看家长的阅读情况，让你实时了解通知的到位情况。</dd>
    	</dl>
    	<dl>
    		<dt><img src="$!ctx/images/ico_zy.png" /><br />作业</dt>
			<dd>可通过平台以微信的方式给家长布置作业，可以发送图片及附件，让布置作业变得更简单更直观。</dd>
    	</dl>
    	<dl>
    		<dt><img src="$!ctx/images/ico_xx.png" /><br />留言</dt>
			<dd>可以查看家长给你的留言，并对家长留言进行回复，让你及时了解家长的反馈意见。</dd>
    	</dl>
    </div>
</div>
<input type="hidden" id="client_id" name="client_id" value="$!client_id" />
<input type="hidden" id="client_secret" name="client_secret" value="$!client_secret" />
<input type="hidden" id="grant_type" name="grant_type" value="$!grant_type" />
<input type="hidden" id="scope" name="scope" value="$!scope" />
<input type="hidden" id="redirect_uri" name="redirect_uri" value="$!redirect_uri" />
</body>
</html>
