@charset "utf-8";
/* CSS Document */

body{margin:0;padding:0;overflow:hidden;width:100%;height:100%;}

.mainbox{width:100%;height:100%;position:relative;}
/*左边功能栏*/
.leftbox{width:180px;height:100%;position:fixed;top:0;left:0;background:#292d30;}
.leftbox .logo{height:65px;padding-top:15px;border-bottom:1px solid #23272b;text-align:center;}

.funlist li {height: 92px;color: #8995ab;font-size: 16px;text-align: center;vertical-align: middle;cursor: pointer;border-top: 1px solid #434343;border-bottom: 1px solid #23272b;padding-top: 15px;}
.funlist li:hover,.funlist li.up {color: #1a90fa;background-color: #23272b;background: url(../images/navbg.png) repeat-y;}
.funlist li span {font-size: 24px;}
@font-face {
  font-family: 'iconfont';
  src: url('../fonts/wx.eot'); /* IE9*/
  src: url('../fonts/wx.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/wx.woff') format('woff'), /* chrome、firefox */
  url('../fonts/wx.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/wx.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {font-family:"iconfont" !important;font-size:16px;font-style:normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;}
.icon-bianji:before { content: "\e607"; }
.icon-shanchu:before { content: "\e608"; }
.icon-sousuo:before { content: "\e605"; }
.icon-tuichu:before { content: "\e603"; }
.icon-yingyong:before { content: "\e600"; }
.icon-mima:before { content: "\e604"; }
.icon-jump:before { content: "\e602"; }
.icon-refresh:before { content: "\e605"; }
.icon-tongxunlu:before { content: "\e601"; }
.icon-dizhiguanli:before { content: "\e606"; }
.icon-20:before { content: "\e602"; }


/*右边窗格*/
.rightbox{margin-left:180px;position:relative;}
.topbar{height:65px;line-height:65px;padding:0 30px;background:#eff3f3;border-bottom:2px solid #1a90fa;overflow:visible;text-align:right;}
.topbar_info{position:absolute;right:30px;top:20px;height:20px;line-height:20px;font-size:15px;color:#616f7d;}
.topbar_ico{float:right;margin-left:5px;background:#aacc4e;border-radius:10px;width:20px;height:20px;line-height:20px;}
.topbar_ico span{left:-2px;color:#fff;line-height:20px;cursor:pointer;}
.topbar_pop{display:none;position:absolute;right:30px;top:41px;background:#292d30;width:180px;border-radius:5px;}
.topbar_pop li{padding-left:30px;width:100%;height:54px;line-height:54px;text-align:left;font-size:14px;}
.topbar_pop li a{color:#697282;}
.topbar_pop li a:hover{color:#fff;}
.topbar_pop li a span{margin-right:5px;}




/*内容主体*/
.content{background:#f5f5f5;}
.content iframe{width:100%;height:100%;border:none;}
.footer{height:30px;line-height:30px;color:#555;text-align:center;background:#eff3f3;border-top:1px solid #1a90fa;}



/*图片弹层*/
.picbox{width:1000px;height:560px;position:fixed; left:50%; top:50%; z-index:1000; display:none;}
.picbox_bg{width:100%;height:100%;background:#000;opacity:0.7;filter: alpha(opacity=70);box-shadow:0 0 5px #ccc;border-radius:3px;}
.picbox_prev{position:absolute;left:2px;top:243px;width:48px;height:73px;cursor:pointer;background-position:0 -20px;background-image:url("../images/picbox.png");}
.picbox_next{position:absolute;right:2px;top:243px;width:48px;height:73px;cursor:pointer;background-position:-50px -20px;background-image:url("../images/picbox.png");}
.picbox_body{position:absolute;left:0;top:0;text-align:center;}
.picbox_body img{width:100%;height:100%;cursor:move;}
.picbox_close{position:absolute;right:0;top:0;width:20px;height:20px;background:url(../images/ico_close.png);background-size:100%;cursor:pointer;}
.picbox_close:hover{background:url(../images/ico_closed.png);}