@charset "utf-8";
/* CSS Document */

body{margin:0;padding:0;width:100%;height:100%;color:#555;background:#fff;font-size:14px;font-family:"Consolas","Microsoft YaHei",sans-serif;}


/*top工具栏*/
.top{height:60px;line-height:60px;/*border-bottom:1px solid #ccc;*/}
.top select{display:inline-block;width:auto;margin-right:3px;}
.top .btn{margin-top:-3px;min-width:60px;}
.top_admin{float:right;height:28px;margin-top:16px;}
.top_admin a{float:right;margin:0 2px;}

.nodata{display:none;text-align:center;padding-top:100px;}


.main{position:relative;overflow:hidden;padding:0 8px;}
/*主体表格
.main .table{}
.main .table thead{font-weight:bolder;}
.main .table thead tr,.main .table thead th,.main .table tbody td{border:1px solid #ccc;vertical-align:middle;}
.main thead tr{background-color:#f2f7fc;}
.table-striped > tbody > tr:nth-of-type(odd){background-color:#fff;}
.table-striped > tbody > tr:nth-of-type(even){background-color:#fbfdff;}


.table_pager{text-align:center;font-size:13px;}
.pager_wrapper{width:100%;height:30px;margin:5px auto 0;text-align:center;}
.table_pager .pagination{margin:0;display:inline-block;vertical-align:middle;margin-right:20px;}
.table_pager .pagination a{color:#555;border-color:#ccc;}
.table_pager .pagination a:hover{color:#2697e6;background:#fff;border:1px solid #2697e6;}
.table_pager .pagination .active a{color: #fff; background:#0097d6; border:1px solid #0097d6;}
.table_pager .pager_tools{height:30px;line-height:30px;display:inline-block;vertical-align:middle;}
.table_pager .pager_tools input {display:inline;height:25px;line-height:25px;width:30px;text-align:center;padding:0px;margin:0 2px;border-radius:2px;}
.table_pager .pager_tools select {display:inline;height:25px;line-height:25px;width:auto;text-align:center;padding:0px;margin-left:2px;border-radius:2px;}
*/
/*表格分页*/



/*不同功能块下的样式单独处理*/
.bindbox .table td:nth-child(1),.bindbox .table th:nth-child(1){width:160px;}
.bindbox .table td:nth-child(2),.bindbox .table th:nth-child(2){width:120px;}
.bindbox .table td:nth-child(3),.bindbox .table th:nth-child(3){width:80px;text-align:center;}
.bindbox .table td:nth-child(4),.bindbox .table th:nth-child(4){width:80px;text-align:center;}
.bindbox .table td:nth-child(5),.bindbox .table th:nth-child(5){width:80px;text-align:center;}
.bindbox .table td:nth-child(6),.bindbox .table th:nth-child(6){width:105px;text-align:center;}
.bindbox .table td:nth-child(7){width:130px;padding-left:10px;}
.bindbox .table td:nth-child(9),.bindbox .table th:nth-child(9){width:80px;}
.bindbox .table .btn_grey{margin-top:2px;}
.bindbox .table .bolder{font-weight:bolder;}
.bindbox .verified{color:#5cb85c;}
.bindbox .unverified{color:#CC3333;}
.bindbox .unknow{color:#0097d6;}


.findbox .table td:nth-child(1),.findbox .table th:nth-child(1){width:200px;}
.findbox .table td:nth-child(2),.findbox .table th:nth-child(2){width:300px;}
.findbox .table td:nth-child(4),.findbox .table th:nth-child(4){width:200px;}
.findbox .btn{min-width:60px;margin-right:3px;}

.createbox_btns{text-align:center;}
.createbox .checkbox-inline{padding-top:0;padding-left:0;}
.createbox select{margin-top:5px;}

.appicon{width:54px;height:54px;display:inline-block;margin:2px;}
.appicon img{width:100%;height:100%;border-radius:5px;}

.popbox .checkbox-inline{margin-left:0;margin-right:10px;}



/*弹窗*/
.popbox{width:620px;position:absolute;top:30px;left:300px;z-index:1000;background:#fff;border:1px solid #ccc;}
.popbox_title{height:46px;line-height:46px;text-align:center;font-weight:bold;font-size:15px;background:url(../images/barbg.png) repeat-x;border-bottom:1px solid #ccc;}
.popbox .close{width:18px;height:18px;display:block;float:right;margin-right:5px;margin-top:5px;}
.popbox_con{padding:8px 30px;}
.popbox_btns{padding:0px 30px 15px;text-align:right;}
.popbox_btns .btn{height:30px;line-height:30px;padding:0 15px;}
.popbox em{font-style:normal;color:#f00;}
.popbox hr{}
.popbox_nav{width:100%;height:30px;border-bottom:1px solid #eee;margin-top:-10px;margin-bottom:10px;}
.popbox_nav span{display:block;float:left;height:30px;line-height:30px;cursor:pointer;padding:0 10px;margin-bottom:-1px;margin-right:2px;border-radius:4px 4px 0 0;}
.popbox_nav span.up{background-color: #fff;border-color: #ddd #ddd transparent;border-image: none;border-style: solid;border-width: 1px;color: #555;}

/*详情弹窗*/
div.rightbox{display:none;position:fixed;top:0;right:0;left:auto;width:400px;height:100%;overflow-y:auto;box-shadow:-2px 0 4px rgba(0,0,0,.2);z-index:10;}
.rightbox .popbox_con{padding:15px 25px;}
.rightbox .control-label{/*padding:0;*/}
.rightbox .popbox_nav{margin-bottom:0px;}
.rightbox .form-group{margin-bottom:0px;}
.rightbox .close{width:18px;height:18px;display:block;float:right;margin-right:5px;margin-top:5px;}
.rightbox .popbox_btns{text-align:right;margin-top:10px;padding-right:45px;}
.rightbox .popbox_btns .btn{width:110px;height:30px;line-height:30px;margin-top:5px;}
.rightbox .form-group > div{padding-left:0;padding-right:0;}
.rightbox .form-group p{word-break:break-all;}

/*app列表*/
.appbox{}
.appbox_list{}
.appbox .popbox_con{max-height:500px;overflow-y:auto;}
.appbox_list img{width:60px;height:60px;margin:2px;border-radius:5px;}
.appbox_group{background:#f9f9f9;margin:3px 0;padding:13px;border-radius:5px;}
.appbox_group li{width:100px;text-align:center;margin:3px 0;display:inline-block;}
.appbox_group li img{width:60px;height:60px;margin-bottom:2px;border-radius:5px;}
.appbox_group_title{margin-bottom:5px;font-weight:bold;color:#777;}
.appbox_group_title .btn{margin-left:5px;color:#fff; /*background:#00a8ee; border:1px solid #0097d6;*/color:#2697e6;background:#f5f5f5;border:1px solid #2697e6;height:24px;line-height:24px;margin-top:-3px;}
.appbox_group_title .btn:hover{color:#2697e6;}
.appbox_group_list{}
.appbox_group_name{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.appbox_group_list .btn{width:44px;height:22px;line-height:22px;font-size:12px;padding:0 3px;}
.appbox_group_list .appbox_group_install{color:#fff; background:#00a8ee; border:1px solid #0097d6;}
.appbox_group_list .appbox_group_installed{color:#777; background:#f5f5f5; border:1px solid #ccc;}




/*-- 学校二维码 -
.school_code{position:relative;background:#fff;padding-left:155px;border-radius:2px;font-size:14px; font-family:"微软雅黑"; }
.school_code p{position:absolute;width:155px;height:100%;padding-top:15px;left:0;top:0;border:1px solid #dbdbdb;border-right:none;}
.school_code p img{width:150px;height:150px;margin:0 2px;}
.school_code table{ padding:0;width:400px;border-left:1px solid #dbdbdb;border-top:1px solid #dbdbdb;}
.school_code table th{ background:#f5f5f5;border-right:1px solid #dbdbdb; line-height:32px;  text-align:center;font-weight:normal;border-bottom:1px solid #dbdbdb;}
.school_code table td{ padding:0 8px;line-height:36px;border-right:1px solid #dbdbdb;border-bottom:1px solid #dbdbdb; text-align:center; color:#555}
.line_b{ border-bottom:1px solid #e7e7e7}
.bt_downCode{ width:20px; height:20px; display:block; margin:auto; background:url(../images/ico_down.png) no-repeat; text-indent:-9999px; overflow:hidden}
.bt_downCode:hover{ background:url(../images/ico_down.png) bottom no-repeat;}
-*/
.school_code{text-align:center;}
.school_code_wrap{width:258px;height:258px;margin:0 auto;line-height:258px;text-align:center;}
.school_code_img{display:none;width:258px;height:258px;}
.school_code_img_def{width:32px;height:32px;margin-top:100px;}

/*-- 海报 --*/
.posterbox_school{}
.posterbox_imgs{text-align:center;}
.posterbox_imgcon{display:inline-block;margin:0 10px;padding-bottom:20px;}
.posterbox_imgwrap{width:170px;height:240px;position:relative;margin:15px 0;border:1px solid #999;}
.posterbox_poster{width:100%;height:100%;cursor:pointer;}
.posterbox_loading{position:absolute;left:50%;top:50%;margin-left:-16px;margin-top:-16px;}
.posterbox .btn{min-width:80px;}
.posterbox_school{color:#bbb;}
.posterbox_school span{font-weight:bolder;color:#000;}



/*申请加入二维码*/
.inviteQrPop{}
.inviteQrPop_qrwrap{}
.inviteQrPop_qrwrap img{width:200px;height:200px;}
.inviteQrPop_qrwrap a{margin-left:20px;}

/*上传文件*/
.toast-error{background-color:rgba(189, 54, 47,0.95);}
.cropBox .uploadfile {float:left; margin-left:5%; margin-right:5px;width:75px;position:relative;overflow:hidden;}
.cropBox .webuploader-container {width:100%;height:100%;position:absolute;top:0;left:0;opacity:0;}
.cropBox .webuploader-element-invisible {position: absolute !important;clip: rect(1px 1px 1px 1px);clip: rect(1px,1px,1px,1px);}
.cropBox .webuploader-pick {opacity:0;width:100%;height:100%;}
.cropBox .webuploader-pick-hover {opacity:0;}
.cropBox .webuploader-pick-disable {opacity:0;pointer-events:none;}

.cropBox .cropbox-uploadfile { margin-left:5%; margin-right:5px;max-width:200px;text-overflow:ellipsis;white-space: nowrap;display: inline-block;overflow: hidden;}
.cropBox .importremove{top:-3px;cursor:pointer;}
.cropBox .importremove:hover{color:#f00;}
.cropBox .progress{margin-left:5%;width:90%;position:relative;top:3px;}
.cropBoxSub .demolink{position:relative;top:3px;}
.cropBoxSub  .importup{color:red;font-weight:bolder;padding-left:0;font-size:15px;line-height:16px;}

/* 覆盖bootstrap样式 */
.cropBox .form-group { margin-bottom:9px; }
.cropBoxSub .form-group .qrcode-image{ margin-left:5%; width:70px; height:70px;}



/*tips弹层*/
.wxtips_img{width: 15px;height:15px;position:relative;top:-2px;margin-left:3px;cursor:help;}
.wxtips {position:absolute;left:100px;top:100px;width:400px;border-radius:10px;border:1px solid #999;background:#fff;padding:15px;display:none;}
.wxtips .triangle{position:absolute;top:30px;width:0;height:0;}
.wxtips .triangle1{left:-8px;border:10px solid transparent;border-right:10px solid #fff;border-left-width:0px;z-index:2;}
.wxtips .triangle2{left:-10px;border:10px solid transparent;border-right:10px solid #999;border-left-width:0px;z-index:1;}

.wxtips_title{font-weight:bolder;}
.wxtips ul{margin:0 0 0 25px;}
.wxtips li{position:relative;}
.wxtips li span{position:absolute;left:-20px;top:0px;}
