/*基础样式*/
* {font-family:"微软雅黑";}
.fl{
    float: left;
}
.fr{
    float: right;
}
/*清除浮动*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
/*清除浮动end*/
/*基础样式 end*/

/*首页*/
body{

}
.desktopCloud-bg{
    /*background: url('../images/desktopCloud-bg.jpg') no-repeat;*/
    width: 100%;
    position: absolute;
    z-index: -1;
}
.desktopCloud-bottom{
    background: url('../images/bottomBar.png') repeat-x;
    height:48px;
    position:fixed;
    bottom: 0;
    width: 100%;
}
.desktopCloud-content{
    width:675px;
    padding: 30px 20px;
    margin: 0 auto;
        -webkit-box-shadow:0px 0px 20px -5px #000;
        -moz-box-shadow:0px 0px 20px -5px #000;
        box-shadow:0px 0px 20px -5px #000;
}
.desktopCloudBar-hd{
    width: 654px;
    height:184px;
    /*background: url('../images/campus-broadcastBar.png') no-repeat;*/
    -webkit-box-shadow:0px 0px 20px -5px #000;
    -moz-box-shadow:0px 0px 20px -5px #000;
    box-shadow:0px 0px 20px -5px #000;
}
.desktopCloudBar-hd-icon{
    background: url('../images/campus-broadcast-tips.png') 30px 0 no-repeat;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 25px;
    padding-left: 110px;
}
.desktopCloudBar-hd-title{
    font-size: 27px;
    padding-left: 47px;
    margin-top: 8px;
}
.desktopCloudBar-hd-content{
    padding-left: 47px;
    margin-top: 12px;
    line-height: 24px;
}
.desktopCloudBar-bd{
    margin-top: 10px;
}
.desktopCloudBar-l{
    background: url('../images/courseBar.png') no-repeat;
    width:304px;
    height:170px;

}
.desktopCloudBar-l-title{
    font-size: 16px;
    margin-left: 60px;
    margin-top: 15px;
}
.desktopCloudBar-l-icon{
    font-size: 54px;
    color:#04be01;
    margin-left: 98px;
    line-height: 90px;
    height:90px;
}
.desktopCloudBar-l-content{
    font-size: 25px;
    margin-left: 60px;
}

.desktopCloudBar-r{
    background: url('../images/emailBar.png') -25px 0 no-repeat;
    width:300px;
    height:170px;
    margin-left: 50px;
}
.desktopCloudBar-r-title{
    font-size: 16px;
    margin-left: 60px;
    margin-top: 15px;
    width: 220px;
}
.desktopCloudBar-r-icon{
    font-size: 54px;
    color:#ed8373;
    margin-left: 98px;
    line-height: 90px;
    height:90px;
}
.desktopCloudBar-r-content{
    font-size: 25px;
    margin-left: 60px;
}
.desktopCloudBar-fd{
    width:675px;
    height: 297px;
    background: url('../images/goodsList-bg.jpg') 0 0 no-repeat;
    margin-top: 15px;

}

.desktopCloudBar-icon{
    background:url('../images/goodsList-icon2.png') 0 -14px no-repeat;
    display: inline-block;
    float: left;
    margin-top: 8px;
    margin-left: 1px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    height: 125px;
}
.desktopCloudBar-icon-radio{
    background-position: 0 -14px;
    width: 138px;

}
.desktopCloudBar-icon-scheduleof{
    background-position: -141px -14px;
    width: 129px;

}
.desktopCloudBar-icon-schedule{
    background-position: -265px -14px;
    width: 129px;

}
.desktopCloudBar-icon-results {
    background-position: -395px -14px;
    width: 129px;

}
.desktopCloudBar-icon-monitoring {
    background-position: -529px -14px;
    width: 135px;

}



.desktopCloudBar-icon-process{
    background-position: 0px -148px;
    width: 139px;

}
.desktopCloudBar-icon-more{
    background-position: -141px -148px;
    width: 129px;

}

.desktopCloudBar-icon-attendance {
    background-position: -270px -148px;
    width: 124px;
}
.desktopCloudBar-icon-samllwebsite {
    background-position: -394px -148px;
    width: 134px;
}
.desktopCloudBar-icon-emall{
    background-position: -521px -148px;
    width: 134px;

}

.desktopCloudBar-icon span{

    margin-top: 105px;
    display: inline-block;
    text-align: center;
    width: 100%;
}
/*首页 end*/
