@charset "utf-8";
/* CSS Document */

body, p, input, h1, h2, h3, h4, ul, ol, li, dl, dt, dd, form{margin: 0; padding: 0; list-style: none; vertical-align: middle;}
body{ color: #4d5367; -webkit-text-size-adjust: none; font-size:17px;  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
header,nav,section,figure,figcaption,article, hgroup, menu, nav, section, menu, footer, article{display: block; margin: 0; padding: 0;}
img{border: 0;}
i {font-style:normal;}
/*common*/
.float-right{float: right;}
.wrapper{background-color: #FFF;}
.hide_component{display:none;}
.c-tx1 {color:#808080;}
.c-tx2 {color:#838383;}
.c-tx3 {color:#d1d1d1;}
.c-tx4 {color:#d53830;}
.c-tx5 {color:#097c25;}
.c-tx6 {color:#1c63cf;}
.c-tx7{ color:#0d98db}
.fl {float:left;}
.tr{ text-align:right}
.fr {float:right;}
.clearfix:after {content: ".";display:block;height:0;clear:both;overflow:hidden;}
.hidden {display:none;}
.main-wrapper {background:#fcfcfc;}
.mod-mask {background:rgba(0,0,0,0.5);position:absolute;top:0;width:100%;height:100%;z-index:10;}
.mod-mask-filter {position: relative;}
.mod-mask-filter:after {content: "";background:-webkit-gradient(linear,left top,right top,color-stop(100%,#FFF),color-stop(0%,rgba(249,249,249,0)));width:30px;height:132px;position:absolute;right:0;top:0;}


/*提示权限*/
.ts_qx{ text-align:center; font-size:16px;  color:#999; padding-top:20%;}
.ts_qx img{ width:120px; margin-bottom:20px;}

/*404 提示*/
.point_404{ text-align:center}
.point_404 img{ width:100%}
.point_404 p{ margin:20px;} 
.bt_blue1{ height:30px; margin:0 12px; background:#e0f0fb; text-align:center; line-height:30px; font-size:15px; display:inline-block; border:1px solid #c2d4de; color:#555; border-radius:3px; text-decoration:none; min-width:68px;}

/*提示语*/
.point_box{ font-size:18px; text-align:center; margin:0; padding:0.30rem 0;  }
.point_box img{ width:120px; margin:0.12rem 0}
.point_box h2{ font-size:17px; font-weight:normal;}


/**yonson add 角色标签**/
em.t_par{ font-size:10px; height:13px; line-height:14px; border:1px solid #f68a45; border-radius:2px; color:#f68a45; display:inline-block; text-align:center; font-style:normal; padding:0 2px; margin-left:3px; vertical-align:middle}
em.t_tea{ font-size:10px; height:13px; line-height:14px; border:1px solid #34cc33; border-radius:2px; color:#34cc33; display:inline-block; text-align:center; font-style:normal; padding:0 2px; margin-left:3px; vertical-align:middle}

/**404页面，页面不存在**/
.point_error{ text-align:center; font-size:17px; padding-top:80px; color:#888}
.point_error img{ width:96px; margin-bottom:30px;}

/**系统升级中**/
.update_box{ padding:15px 20px; margin:auto; height:100%; text-align:center}

.update_box .ico_tit{ font-size:18px; line-height:20px; padding:20px 0 5px ; color:#000; text-align: center; font-weight:normal}

.update_box .ico_tit img{ width:150px; margin-bottom:12px}
.update_box h2{ font-size:15px; text-align:left; padding:10px; font-weight:normal; color:#888}
.update_box p{ font-size:13px; text-align:left; padding:20px 10px 0; color:#61749b}



