@charset "utf-8";
/* CSS Document */


.fun_detail{ padding:0 0 0 0.12rem;}
.fun_detail p{ font-size:0.15rem; color:#000; padding:0.15rem 0.08rem 0.15rem 0; border-bottom:1px solid #f0f0f0}
.fun_detail p span{ display:block; padding-top:0.12rem}
.fun_detail p span img{ width:1.42rem; margin-right:0.08rem}

.faq_list{ padding:0 0.12rem; background:#fff; border-bottom:1px solid #e6e6e6;border-top:1px solid #e6e6e6}
.faq_list p{ padding:0.15rem 0.20rem 0.15rem 0; border-bottom:1px solid #f0f0f0; position:relative; font-size:0.16rem; color:#000; }
.faq_list p.line_n{ border:none}

.faq_tit{ padding:10px; font-size:14px; color:#6d6d6d}

.faq_detail{ padding:0 0 0 0.12rem;}
.faq_detail .tit{ font-size:20px; font-weight:bold; color:#2e3133; padding:15px 8px 15px 0; border-bottom:1px solid #f0f0f0}
.faq_detail .con{ font-size:15px; line-height:22px; color:#3d4245; padding:0 8px 15px 0; }
.faq_detail .con p{ padding:15px 0 0}
.faq_detail .con p img{ width:100%; margin-top:10px;}


.dy_some{ border-width:0 2px 2px 0; }
.dy_more{ border-width:2px 2px 0 0;}
.dy_more,.dy_some{
	content: " ";
    display: inline-block;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 6px;
    width: 6px;
	color:#888;
    border-style: solid;
    position: absolute;
    top:40%;
	right:0px;
   
}
