@charset "utf-8";
/* CSS Document */

body, p, input, h1, h2, h3, h4, ul, ol, li, dl, dt, dd, form{margin: 0; padding: 0; list-style: none; vertical-align: middle;}
body{ color: #4d5367; -webkit-text-size-adjust: none; font-size: 17px;font-family: "黑体";}
header,nav,section,figure,figcaption,article, hgroup, menu, nav, section, menu, footer, article{display: block; margin: 0; padding: 0;}
img{border: 0;}
i {font-style:normal;}
/*common*/
.float-right{float: right;}
.wrapper{background-color: #FFF;}
.hide_component{display:none;}
.c-tx1 {color:#808080;}
.c-tx2 {color:#838383;}
.c-tx3 {color:#d1d1d1;}
.c-tx4 {color:#d53830;}
.c-tx5 {color:#097c25;}
.c-tx6 {color:#1c63cf;}
.c-tx7{ color:#0d98db}
.fl {float:left;}
.tr{ text-align:right}
.fr {float:right;}
.clearfix:after {content: ".";display:block;height:0;clear:both;overflow:hidden;}
.hidden {display:none;}
.main-wrapper {background:#fcfcfc;}
.mod-mask {background:rgba(0,0,0,0.5);position:absolute;top:0;width:100%;height:100%;z-index:10;}
.mod-mask-filter {position: relative;}
.mod-mask-filter:after {content: "";background:-webkit-gradient(linear,left top,right top,color-stop(100%,#FFF),color-stop(0%,rgba(249,249,249,0)));width:30px;height:132px;position:absolute;right:0;top:0;}

/*通知详情*/
.notice-wrap{ padding:0 12px 45px; margin-bottom:20px;}
.notice-box{padding:0 12px; margin:0 0 12px; background:#FFFFFF; border-bottom:1px solid #eeeeee;border-top:1px solid #eeeeee}
.from{  padding:6px 0 8px; border-bottom:1px solid #eff1f3; clear:left; overflow:hidden}
.from .time{ float:right;font-size:12px; color:#808080; width:40%; vertical-align:middle; line-height:37px; }
.from .title{ font-size:18px; width:50%; line-height:37px; color:#0d98db;}
.from .title b{ font-size:12px; padding:0 2px; font-weight:100;   color:#777}
.from .mes_tl{ font-size:18px; width:60%; color:#0d98db; height:40px; }
.t_lh37{ line-height:37px;}
.from .mes_tl em.t_par{ font-size:10px; height:13px; line-height:14px; border:1px solid #f68a45; border-radius:2px; color:#f68a45; display:inline-block; text-align:center; font-style:normal; padding:0 2px; margin-left:3px;}
.from .mes_tl em.t_tea{ font-size:10px; height:13px; line-height:13px; border:1px solid #34cc33; border-radius:2px; color:#34cc33; display:inline-block; text-align:center; font-style:normal; padding:0 2px; margin-left:3px;}
.from .mes_tl b{ font-size:12px; padding:0 2px; font-weight:100;   color:#777}
.mess_for {
    
    float: left;
	padding-right:3px;
	color:#777;
    font-size: 14px;
	line-height:37px;
}
.notice-con{ color:#000; padding:12px 0; line-height:1.5em}
.notice-con p{ padding:6px 0 0 0;}
a.img_narrow{ width:31%; margin:0 3px; display:inline-block}
a.img_narrow img{ width:100%; min-height:68px;}
.notice-con img{ width:100%; margin:6px 0 0;}
.state{text-align:right;font-size:12px; color:#808080; padding:10px 12px;  margin:0;border-radius:2px; border-top:1px solid #eff1f3;}
.bt_fs_yes{ width:42px; height:24px; background:#4cd964; border-radius:25px; display:inline-block; vertical-align:middle}
.bt_fs_yes a{ width:20px; float:left; height:22px;border-radius:25px; display:block; text-indent:9999px; overflow:hidden}
.bt_fs_yes a.sel{ width:18px; height:20px; background:#fff; border:2px solid #4cd964;}
.bt_fs_no{ width:38px; height:20px; border:2px solid #dcdcdc; background:#f6f6f6; border-radius:25px; display:inline-block; vertical-align:middle}
.bt_fs_no a{ width:19px; float:left; height:20px;border-radius:25px; display:block; text-indent:9999px; overflow:hidden}
.bt_fs_no a.sel{ width:18px; border-right:1px solid #dcdcdc;  height:20px; background:#fff;  }

.down_file{ border:1px solid #e7e7e7; padding:8px;  margin:0 0 15px; font-size:16px; color:#777;border-radius:3px; }
.down_file img{ width:40px; height:40px; vertical-align:text-bottom; margin-right:10px;border-radius:40px; vertical-align:middle }
.down_file span{ float:right; margin-top:4px;}
a.btn_Grey{ color: #777; background:#f5f5f5;  border:1PX solid #e7e7e7; font-size:13px; display:inline-block; height: 28px; line-height:28px;  margin: 0;  padding: 0 10px; min-width:30px;  text-align:center; text-decoration:none}


/*今日作业*/
.date-wrap{ padding-bottom:50px; }
.date_tit{ height:50px; line-height:50px; background:url(../images/ico_date.png) 12px center no-repeat #fff; background-size:30px; color:#000; padding:0 12px 0 45px; clear:right; border-top:1px solid #e5e5e5; margin-top:5px; border-bottom:1px solid #e5e5e5; overflow:hidden}
.date_tit_span{ text-align:right; line-height:50px; font-size:12px; background:url(../images/jt_r.png) right center no-repeat #fff; background-size:15px; float:right; color:#808080; padding-right:18px; }
/*.date_tit span{ text-align:right; line-height:50px; font-size:12px; background:url(../../images/jt_r.png) right center no-repeat #fff; background-size:16px; float:right; color:#808080; padding-right:18px; }*/

.list_con{ padding-top:0;}
.list_box{ border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; background:#fff; margin-bottom:12px;}
.date_list_t{ padding:0 12px; border-bottom:1px solid #f2f2f2}
.list_from{  padding:5px 12px 0 12px; clear:left; overflow:hidden}
.list_from .time{font-size:12px; color:#808080; width:40%;line-height:30px; }
.list_from .time1{font-size:12px; color:#808080; width:50%; padding-top:8px; }
.list_from .title{ font-size:18px; line-height:35px; width:60%;color:#0d98db}
.list_from .title b{ font-size:14px; padding:0 2px; font-weight:100;   color:#777}
.face_pic{ width:35px; height:35px;  margin:0 5px 0 0;  display:inline-block; vertical-align:middle  }
.face_pic img{ width:35px; height:35px; border-radius:35px;}
.list_tit{ color:#333; padding:4px 12px 12px; line-height:1.5em; font-size:16px; clear:left; overflow:hidden}
.list_tit img{ width:100%}
.list_pic{ padding:8px 0 0; clear:left; overflow:hidden}
.list_pic a{float:left;margin-right:5px;}
.list_pic a img{ width:100%}
.list_pic span{ width:82px;height:82px; margin-bottom:3px;overflow:hidden;display:block}
.list_pic span img{ width:82px; float:left; margin-right:5px;}

.list_state{ text-align:right;font-size:12px; color:#808080; padding:10px 12px;  margin:0;border-radius:2px; border-top:1px solid #eff1f3;}
.list_mess{ text-align:right;font-size:12px; color:#808080; padding:10px 12px;  margin:0; background:#f0f0f0;border-radius:2px;}
.list_mess h3{ text-align:center; padding:20px 0; color:#bdbdbd; font-weight:100}
.list_mess hr{ padding:0; margin:0 0 10px; border-top:1px  solid #e2e2e2; border-bottom:0; border-bottom:0; border-left:0; }
a.bt_mess{  text-align:left; line-height:18px;  display:inline-block; background:url(../images/ico_mess1.png) 0 center no-repeat;background-size:16px; text-decoration:none; color:#3b84b2; padding-left:22px;}
.list_state p{ text-align:left; padding:0; font-size:13px; color:#777; clear:left; overflow:hidden; line-height:20px}
.list_mess p{ text-align:left; padding:0 0 8px; font-size:14px; color:#666; clear:left; overflow:hidden; line-height:20px}
.list_mess p b,.list_state p b{ color:#0d98db; font-weight:100; padding:0 2px;}
.list_mess p img,.list_state p img{ width:28px; height:28px; border-radius:28px; float:left; vertical-align:middle}

/*表单*/
.input_box{ border-top:1px solid #d0d0d0; border-bottom:1px solid #d0d0d0; background:#fff; margin-bottom:12px; padding:12px 0;}
.input_box textarea{ width:100%;  height: auto;
    min-height:80px;
    font-size: 16px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    border: none;
    -webkit-appearance: none; margin:0; }
.input_box hr{border-top:0; border-left:0;border-bottom:1px solid #e0e0e0; margin:15px 12px 10px}
.input_box p{ margin:0 12px; font-size:16px; clear:right; overflow:hidden; color:#333}
.input_box p b{ color:#777; font-weight:100}
a.operate-btn{ display:inline-block; color:#555; float:right; text-decoration:none}
a.operate-btn1{display:inline-block; color:#777; text-decoration:none}
a.operate-btn1 em{ font-size:14px; font-style:normal; padding-left:5px;}
a.operate-btn2{ display: inline-block; color:#777; width:40%; text-decoration:none; padding:0; line-height:36px;}
.op-check,.op-checked,.op-checkbk,.op-checkbkd{ width:22px; height:22px;  display: inline-block;
vertical-align:middle;
   margin-right: 6px;
   cursor: pointer;
   }
  .op-check{ background:url(../images/ico_check.png) top no-repeat; background-size:24px;}
  .op-checked{ background:url(../images/ico_check.png) bottom no-repeat;background-size:24px;}
    .op-checkbk{ background:url(../images/ico_check1.png) top no-repeat; background-size:24px;}
  .op-checkbkd{ background:url(../images/ico_check1.png) bottom no-repeat;background-size:24px;}

.inputstyle {
  height: 30px;
  color: #999;
  border: 0;
  background: 0;
  font-size: 16px;
  width:100%;
  -webkit-appearance: none;
background:url(../images/jt_r.png) right center no-repeat #fff; background-size:15px; }

.ke_input {
  height: 30px;
  color: #777;
  border: 0;
  background: 0;
  font-size: 16px;
  width:80%;
  -webkit-appearance: none;
background:#EBEBEB;
border-radius:3px;
padding:5px 1%; 
}
.txt-area {
  min-height: 85px;
  border: 0 none;
  margin: 0;
  padding: 5px 5px 0;
  font-size: 16px;
  
  -webkit-appearance: none;
  resize: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color:#999;

}
.opert{ padding:12px 0 0; margin:0 12px; border-top:1px solid #e0e0e0; clear:left; overflow:hidden}
.opert img{ float:left; width:66px; margin-right:8px;}
a.bt_blue{ height:36px; margin:0 12px; background:#1cc0e3; text-align:center; line-height:36px; font-size:16px; display:block; color:#fff; border-radius:3px; text-decoration:none}
a.bt_org{ height:36px; margin:0 50px; background:#f8a900; text-align:center; line-height:36px; font-size:16px; display:block; color:#fff; border-radius:3px; text-decoration:none}

.teac_list{ border:1px solid #d0d0d0;background:#fff; margin:12px; padding:12px;}
.class_list{ border:1px solid #d0d0d0;background:#fff; margin:12px; padding:0 12px;}
.teac_list p{ font-size:16px;padding:0; }
.class_list p{ font-size:16px; padding:12px 0; }
.teac_list hr{border-top:0; border-left:0;border-right:0;border-bottom:1px solid #e0e0e0; }
.class_list hr{border-top:0; border-left:0;border-right:0;border-bottom:1px solid #e0e0e0; margin:0; padding:0}

.send_list{ border:1px solid #d0d0d0;background:#fff;  margin:0 12px 12px; border-radius:3px;box-shadow: 0 0 3px 0 #ccc;}
.send_list ul{ padding:0; font-size:14px; width:100%}
.send_list ul li{ position:relative; padding:8px 0 0 0; line-height:30px;}
.send_list ul li hr{border-top:0; border-left:0;border-right:0;border-bottom:1px solid #cccccc; margin:12px 0 0 0}
.send_list ul li a{ padding:0 15px 0 25px;}
.send_list ul li .pay_us{ right:10px; top:5px;} 

.send_list ul li .dy_more,.send_list ul li .dy_some{ position:absolute; right:10px; width:24px; height:24px; top:12px;}
.send_list ul li p{border-bottom:1px solid #e0e0e0; padding:10px 0; margin-left:50px;}

.send_list ul li p a{ padding-left:0; }


.point_last{ font-size:16px; color:#999; text-align:center; margin:0 20px 12px; background:url(../images/t_bg.png) center repeat-x;}

.point_last b{font-size:16px; padding:0 10px;  top:0; background:#ebebeb; font-weight:100}
.last_time { width:60px; height:22px; background:#cecece; color:#fff; text-align:center; margin:12px auto; border-radius:3px;}
.last_time b{ background:#cecece; color:#fff; text-align:center; border-radius:3px; font-size:12px; padding:0; line-height:22px; font-weight:100}

/*404 提示*/

.point_404{ text-align:center}
.point_404 img{ width:100%}
.point_404 p{ margin:20px;} 
.bt_blue1{ height:30px; margin:0 12px; background:#e0f0fb; text-align:center; line-height:30px; font-size:15px; display:inline-block; border:1px solid #c2d4de; color:#555; border-radius:3px; text-decoration:none; min-width:68px;}

/*回复输入框*/
.reply_box{ height:44px; width:96%; padding:0 2%; border-top:1px solid #fff; padding-top:5px;box-shadow: 5px 5px 2px 5px #CCC; bottom:0; left:0; background:#f5f5f7; position:fixed}
.reply_box input{ width:70%; height:35px; line-height:35px; color:#777; padding:0 2%;border-radius:3px; border:1px solid #d6d6d9; font-size:16px; margin-right:2%; vertical-align:middle}
.reply_box a{ height:33px;  background:#1cc0e3; text-align:center; line-height:33px; font-size:14px; display:inline-block; color:#fff; border-radius:3px; text-decoration:none; border:1px solid #23b7ed; width:22%; vertical-align:middle}

/*选项切换*/
.class_tab{ padding:8px 0;  font-size:18px; line-height:37px; color:#0d98db; text-align:center; }
.class_tab a{ font-size:14px; padding:0 10px; width:124px; height:28px; color:#00a8ee; line-height:28px; display:inline-block; border:1px solid #00a8ee; margin-left:-1px; text-decoration:none}

.class_tab a.sel{ font-size:14px; padding:0 10px; width:124px; height:28px; color:#fff; line-height:28px; display:inline-block; border:1px solid #00a8ee; margin-left:-1px; background:#00a8ee}

.class_tab a.sel:hover{ color:#fff}
.class_tab a:hover{ color:#00a8ee}
.bd_r_l{ border-radius:3px 0 0 3px;}
.bd_r_r{ border-radius:0 3px 3px 0;}

/*班级相册*/
.photo-wrap{ padding:0 0 45px; margin-bottom:20px;}
.photo_tit{ padding:10px 0 10px;  font-size:18px; line-height:37px; color:#0d98db; border-bottom:1px solid #e5e5e5; text-align:center; }
.photo_tit a{ font-size:14px; padding:0 10px; width:124px; height:28px; color:#00a8ee; line-height:28px; display:inline-block; border:1px solid #00a8ee; margin-left:-1px; text-decoration:none}
.photo_tit a.sel{ font-size:14px; padding:0 10px; width:124px; height:28px; color:#fff; line-height:28px; display:inline-block; border:1px solid #00a8ee; margin-left:-1px; background:#00a8ee}
.photo_con{ padding:0 0 0 1%;}
.photo_con h2{ font-size:12px; font-size:14px; font-weight:100; padding:8px }
.photo_con div{ padding:10px 0 0 0; clear:left; overflow:hidden}
.photo_con div a{ width:48%; display:block; padding:0 1% 1% 1%; float:left; color:#999; font-size:12px; text-decoration:none; text-align:center; margin-bottom:2%;}
.photo_con div a span{ width:100%; margin-bottom:3px; height:102px; overflow:hidden;display:block}
.photo_con div a span img{width:100%;height:auto;}

.dy_tit{ font-size:18px; line-height:30px; color:#0d98db}
.dy_time{ font-size:12px; color:#808080; line-height:20px;}
.photo_m{font-size:14px; color:#808080; padding:12px 12px;  margin:0; border-top:1px solid #eff1f3; clear:both; overflow:hidden}
.float_l{ width:50%; text-align:left; height:16px; line-height:16px; float:left}
.float_r{ width:50%; text-align:right; height:16px;line-height:16px; float:right; position:relative}
.c_red{ color:#ef4d58}
.c_green{ color:#6cb91f}

.photo_tab{ height:45px;  border-bottom:1px solid#d8d8d8; background:#fff; margin-bottom:12px;  font-size:16px;}
.photo_tab li{ height:43px; line-height:43px; display:block; text-align:center; text-decoration:none;  width:50%;  color:#777; float:left}
.photo_tab li span{ width:20px; height:20px; display:inline-block; vertical-align:middle; margin-right:5px;}
.photo_tab li span.pt_dyn{ background:url(../images/ico_time.png) no-repeat; background-size:18px; }
.photo_tab li span.pt_pic{ background:url(../images/ico_pic.png) no-repeat;background-size:18px;}
.photo_tab li.sel { color:#00a8ee; border-bottom:2px solid #00a8ee}
.photo_tab li.sel span.pt_dyn{ background:url(../images/ico_time_h.png) no-repeat; background-size:18px;}
.photo_tab li.sel span.pt_pic{ background:url(../images/ico_pic_h.png) no-repeat; background-size:20px; }
.photo_tab li.tb_line_r{ background:url(../images/tb_line_r.png) right 0 repeat-y;}
.photo_from{  padding:8px 12px 0 12px; clear:left; overflow:hidden; position:relative}
.photo_from .time{font-size:12px; color:#808080; width:25%; line-height:30px; position:relative; padding-right:5%; background:url(../images/jt_r.png) right center no-repeat; background-size:15px; }
.photo_from .title b{ font-size:12px; padding:0 2px; font-weight:100;   color:#777}
.photo_from .title{ font-size:16px; width:70%; color:#0d98db; }
.photo_from .title span{ margin-top:1px;} 
.phup_txt{ color:#777; padding:4px 12px 10px; line-height:1.5em; font-size:14px; clear:left; overflow:hidden}
.phup_txt p{ padding:3px 0 0;}
.photo_zan{font-size:12px; color:#999; padding:10px 0 10px 30px;  margin:0; border-top:1px solid #eff1f3; clear:both; overflow:hidden; background:url(../images/ico_zan.png) 12px 12px no-repeat; background-size:14px;}
.photo_zan b{ color:#00a8ee; font-weight:100}

.bt_zan,.bt_zan_sel{width:62px; height:26px; border:1px solid #e2e2e2; line-height:26px; text-align:center; font-size:15px; position: absolute; top:12px; right:12px;border-radius:62px;}
.bt_zan span,.bt_zan_sel span{ width:22px; height:26px; display:inline-block;vertical-align:middle;}
.bt_zan{ color:#b0b0b0; }
.bt_zan span{ background:url(../images/ico_zan.png) center no-repeat; background-size:18px; }
.bt_zan_sel{ color:#ff4d4d}
.bt_zan_sel span{  background:url(../images/ico_zan_h.png) center no-repeat; background-size:18px;}
.list_photo{ padding:0}


/*问卷调研*/
.dy-wrap{ padding:0 0 45px; margin-bottom:20px;}
a.dy_bt_no{ height:26px; border:1px solid #ff4747; line-height:26px; text-align:center; width:56px; display:inline-block; color:#ff4747; text-decoration:none; border-radius:3px; margin-left:6px; position:absolute; right:10px; top:12px; font-size:13px;}
a.dy_bt_yes{ height:26px;  line-height:26px; text-align:center; width:56px; display:inline-block; color:#999; text-decoration:none; border-radius:3px; margin-left:6px; position:absolute; right:10px; top:12px; font-size:13px;}
.dy_time{font-size:12px; color:#808080; clear:both; overflow: hidden}
.line_t{ border-top:1px solid #e0e0e0; padding:8px 0 0; margin-top:8px;}
.dy_time .box_l{ width:35%;line-height:20px;  float:left}
.dy_time .box_r{ width:65%;line-height:20px; text-align:right;  float:left}
.c_org{ color:#ff950b; font-weight:100}


.dy_tit{ font-size:18px; line-height:37px; height:37px; overflow:hidden; color:#0d98db;  overflow:hidden; padding:0 65px 0 0} 
.dy_tit1{ font-size:18px; line-height:37px; color:#fff; background:#00a8ee; text-align:center; overflow:hidden; padding:6px 0 0}
.dy_con{ padding:12px; margin:10px; border-radius:3px; background:#fff; border:1px solid #dedede}
.dy_con h2{ padding:0 0 6px; font-size:16px; font-weight:100; color:#333}
.dy_con p{ padding:0; clear:left; overflow:hidden}

.dy_list dl{ padding:0 12px 12px; font-weight:100}
.dy_list dl dt{ padding:8px 0; font-size:16px; }
.dy_list dl dt b{ font-size:12px; color:#999; font-weight:100;}
.dy_list dl dd{ border:1px solid #d0d0d0;background:#fff; padding:12px; border-radius:3px;}
.dy_list dl dd p{ font-size:14px;}
.dy_list dl dd p b{ font-size:12px; color:#ff950b; font-weight:100}
.dy_list dl dd hr{border-top:0; border-left:0;border-bottom:1px solid #e0e0e0;}
.dy_list dl dd textarea{ border:none; width:100%}
.dy_list dl dd.as{  padding:12px; border-radius:3px; background:none; border:none}
.dy_list dl dd.as p{ font-size:14px;}
.address_box{ padding:0}
.address_box h2{ font-size:12px; color:#999; padding:8px 0 0; text-align: center; font-weight:100; }
.address_list{ background:#fff; border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5; margin:6px 0;}
.address_list .tit{ font-size:15px; color:#222; padding:12px 12px 12px 12px; font-weight:bold; height:20px; line-height:20px; position: relative}
.address_list .dy_more,.address_list .dy_some{ position:absolute; right:10px; width:24px; height:24px; top:10px;}
.address_list .tit b{ font-size:12px; font-weight:100; color:#999}
.address_list .tit b em{ font-style:normal; color:#ff9710}
.address_list ul{ padding:0; border-top:1px solid #cccccc;}
.address_list ul li{ padding:10px 10px 10px 0; margin-left:18px; line-height:21px; height:42px; font-size:14px; color:#555; position:relative; clear:left; border-bottom:1px solid #e5e5e5; position:relative }
.follow_ico{ width:18px; height:18px; background:url(../images/ico_follow.png) no-repeat; background-size:18px; position:absolute; bottom:8px; left:30px; display:block}
.address_list ul li.none_line{ border:none}
.address_list ul li hr{border-top:0; border-left:0;border-bottom:1px solid #e5e5e5; margin:0; padding:0 }
.address_list ul li a{ text-decoration: none; color:#333}
.address_list ul li img{ width:42px; height:42px; border-radius:42px; float:left; margin-right:8px; vertical-align:middle}
.address_list ul li b{font-size:16px; color:#0d98db; font-weight:100}
.address_cont{ position:absolute; right:0; top:10px;display:block; text-align:right}
.address_list ul li em{ font-size:12px; font-style:normal; color:#999}
.search{  border-bottom:1px solid #d6d6d9; background:#e2e2e2; padding:8px 12px;}
.search a.btn{ width:.125rem; height:.1rem; padding-right:.2em; padding-left:.2em;border-right:1px solid #d6d6d9; display:block; text-align:center;}
.search a.btn img{width:.125rem; height:.1rem;}
.search input[type="text"]{ width:88%; padding:0 2% 0 10%; color:#999; background: url(../images/search-ico.png) 6px center no-repeat #fff; background-size:18px; border:none; font-size:12px; height:30px; line-height:30px;border-radius:3px;}


/*提示权限*/
.ts_qx{ text-align:center; font-size:16px;  color:#999; padding-top:20%;}
.ts_qx img{ width:120px; margin-bottom:20px;}


/*教师*/
.c-tx8{ color:#f90}
.tz_box{width:96%; padding:5px 2%; border-top:1px solid #ccc; bottom:0; left:0; background:#f5f5f7; position:fixed; text-align:right}
.tz_box a{ display:block; height:36px; line-height:36px; padding:0 20px;
text-decoration:none; text-align:center; background:#1cc0e3; border-radius:4px; color:#fff}
.tz_box a i,.tz_box a b{ display:inline-block; width:26px; height:26px; vertical-align:middle; margin-right:6px;}
.tz_box a i{background:url(../images/btn-tz.png) 55% center no-repeat;  background-size:auto 20px;}
.tz_box a img{ width:22px; vertical-align:middle}
.tz-list p{ padding:13px 0 13px 25px;}
.tz-list p a{ display:block; position:relative; font-size:14px; color:#333}
p.tz-tit{ background:#f0f0f0;border-bottom: 1px solid #e0e0e0; padding:12px 0 12px 12px; height:26px; line-height:26px;overflow:hidden; position:relative; color:#333;}
p.tz-tit a{ color:#222; }
p.tz-tit1{ background:#d8f1ff; padding:12px 0 12px 12px; height:26px; line-height:26px;overflow:hidden; position:relative; color:#333;  }
p.tz-tit1 a{ color:#222; font-size:16px;}
p.tz-li{ margin-left:50px; font-size:15px;border-top:1px solid #e0e0e0; }
p.tz-li a{ color:#777}


.ul-over{ padding:0 2%; overflow:hidden;}
.ul-over li{ width:32%; text-align:center; border-bottom:1px solid #e7e7e7; float:left; height:40px; line-height:40px; font-size:16px; color:#777}
.dy_some{ font-size:12px; background:url(../images/jt_b.png) right center no-repeat; padding-right:20px; display:inline-block; background-size:14px;line-height:16px;}
.dy_more{ font-size:12px; background:url(../images/jt_r.png) right center no-repeat; padding-right:20px; display:inline-block; background-size:14px; line-height:16px;}
.dy_more,.dy_some{
	position: absolute;
	right: -2px;
	width: 16px;
	height: 16px;
	top: 66px;
}
.tz-list .dy_more,.tz-list .dy_some{ position:absolute; right:8px; top:8px; width:16px; height:16px;}


.tz_box a b{  background:url(../images/btn-photo.png) 40% center no-repeat;background-size:auto 22px;}
.photo-add { overflow:hidden;}
.photo-add li{ float:left; width:25%; text-align:center; overflow:hidden; position:relative; padding:8px 0;}
.del_photo{ width:20px; height:20px; position:absolute; right:0; top:3px; background:url(../images/ico_del.png) no-repeat; background-size:20px;}
.photo-add li img{ width:88%;}
.photo-add li a img{ border:1px solid #e7e7e7;}
.pay_us {
  width: 42px;
  height: 16px;
  line-height: 16px;
  border: 1px solid #c2c2c2;
  color: #999;
  text-align: center;
  position: absolute;
  top:3px;
  font-size:12px;
  right:0;
  display: block;
  border-radius: 2px;
}

/*请假*/
.list_from{  padding:8px 12px 0 12px; clear:left; overflow:hidden}
.list_from .time{font-size:12px; color:#808080; width:50%; line-height:30px; }
.list_from .title{ font-size:16px; width:50%; color:#0d98db; line-height:30px;}
.list_from .title img{  width:35px; height:35px; float:left; border-radius:35px; margin-right:6px; vertical-align:middle}
.list_from .title b{ font-size:11px; line-height:18px; padding:0 2px 0 0; font-weight:100;   color:#999}
.list_from .title1{ font-size:16px; width:50%; color:#0d98db;}
.list_from .title1 img{  width:35px; height:35px; float:left; border-radius:35px; margin-right:6px; vertical-align:middle}
.list_from .title1 b{ font-size:11px; line-height:18px; padding:0 2px 0 0; font-weight:100;   color:#999}
.Leave_con{ padding-bottom:50px }
.Leave_con1{  }
.Leave_box{ padding:6px 0 0 0;border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; background:#fff;}
.Leave_box1{ border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; background:#fff; margin-bottom:8px;}

.Leave_list{ color:#333; padding:6px 12px 12px; line-height:1.5em; font-size:16px; clear:left; overflow:hidden; }
.Leave_list p{ color:#777; font-size:13px; padding-top:3px; line-height:20px; position:relative; padding-top:6px;}
.Leave_list p span.th2{ width:46px; height:39px;border-radius:100px; padding-top:7px;  color:#999; border:1px solid #eff1f3; position:absolute; right:0; top:3px; line-height:15px; font-size:11px; text-align:center;}
.Leave_list p span.th1{width:46px; height:38px;border-radius:100px; padding-top:8px;  color:#999; border:1px solid #eff1f3; position:absolute; right:0; top:3px; line-height:28px; font-size:11px; text-align:center;}
.Leave_list p span b,.Leave_list p span.th1 b{ font-size:15px;  display:inline-block; color:#ff950b; font-weight:100} 
.Leave_state{ font-size:13px;  padding:10px 12px; margin:0;border-radius:2px; border-top:1px solid #eff1f3; clear:left; overflow: hidden}
.Wait{ color:#fff; height:20px; width:66px; line-height:20px; background:#ff8a00;border-radius:0 2px 2px 0; font-size:13px; padding:0 5px; margin-left:2%; position:relative; float:left }
.Wait span{width:0;height:0;margin:0 auto;border-top:10px solid transparent;border-bottom:10px solid transparent;border-right:10px solid #ff8a00; position:absolute; top:0; left:-10px; }
.refuse{ color:#fff; height:20px; width:40px; line-height:20px; background:#f96062;border-radius:0 2px 2px 0; font-size:13px; padding:0 1%; margin-left:2%; position:relative; float:left }
.refuse span{width:0;height:0;margin:0 auto;border-top:10px solid transparent;border-bottom:10px solid transparent;border-right:10px solid #f96062; position:absolute; top:0; left:-10px; }

.Leave_state .reftext{ text-align:left; float:left; line-height:20px;  width:80%;  margin-left:2%; font-size:13px; color:#555; line-height:22px;}
.Leave_state .reftime{ float:right; width:68%; text-align:right; color:#bebebe; line-height:18px; font-size:11px; }
.pass{ color:#fff; height:20px; width:40px; line-height:20px; background:#2ac06d;border-radius:0 2px 2px 0; font-size:13px; padding:0 1%; margin-left:2%; position:relative; float:left }
.pass span{width:0;height:0;margin:0 auto;border-top:10px solid transparent;border-bottom:10px solid transparent;border-right:10px solid #2ac06d; position:absolute; top:0; left:-10px; }
.Leave_state .passtext{float:left; width:67.5%; line-height:22px; margin-left:1%; font-size:12px; color:#555}
.Leave_state .passtext p{ text-align:right; color:#bebebe; line-height:22px; font-size:11px; padding-top:15px; }
.Leave_state span.cond{ color:#999}
.Leave_time{ height:36px; line-height:36px; padding-left:7px; color:#b0b0b0; font-size:12px;}
.Leave_time span{ width:10px; height:10px; background:#48b839;border-radius:10px; display:inline-block; margin-right:8px; border:3px solid #ebebeb; vertical-align: middle;}

a.send_Leave{  display:block; height:36px; line-height:36px; padding:0 20px;
text-decoration:none; text-align:center; background:#1cc0e3; border-radius:4px; color:#fff}
a.send_Leave i{background:url(../images/btn-tz.png) 40% center no-repeat;  background-size:auto 22px;}
a.send_Leave i{ display:inline-block; width:26px; height:26px; vertical-align:middle; margin-right:6px;}

.time_input {
  height: 30px;
  color: #999;
  border: 0;
  background: 0;
  font-size: 16px;
  width:70%;
  -webkit-appearance: none;
border-radius:3px;
padding:;
vertical-align:middle;

}
.Leave_tab hr{border-top:0; border-left:0;border-bottom:1px solid #e0e0e0; margin:10px 12px 10px}
.Leave_tab p{ margin:8px 12px; font-size:16px; clear:right; overflow:hidden; color:#333}
.Leave_tab{ border-top:1px solid #d0d0d0; border-bottom:1px solid #d0d0d0; background:#fff;}
.Leave_tab textarea{ width:100%;  height: auto;
    min-height:80px;
    font-size: 16px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    border: none;
    -webkit-appearance: none; margin:0; }

.Leave_tab p span{ height:30px; line-height:30px; width:28%; display:inline-block; vertical-align:middle;}
.Leave_con h2{ font-size:12px; color:#999999; font-weight:100; padding:8px 12px}

.Leave_tit{ padding:8px 0;  font-size:18px; line-height:37px; color:#0d98db; text-align:center; background:#ebebeb }
.Leave_tit a{ font-size:14px; padding:0 10px; width:124px; height:28px; color:#00a8ee; line-height:28px; display:inline-block; border:1px solid #00a8ee; margin-left:-1px; text-decoration:none}
.Leave_tit a.sel{ font-size:14px; padding:0 10px; width:124px; height:28px; color:#fff; line-height:28px; display:inline-block; border:1px solid #00a8ee; margin-left:-1px; background:#00a8ee}
.Leave_line{ font-size:12px; color:#c3c3c3; text-align:center; margin:12px 20px 12px; background:url(../images/t_bg1.png) center repeat-x;}
.Leave_line b{font-size:12px; padding:0 10px; color:#c3c3c3;  top:0; background:#ebebeb; font-weight:100}

.Leave_state .reftext_t{ line-height:22px; font-size:11px; color:#bebebe; text-align:right;}
.Leave_state .reftext_t p{  color:#555; padding-left:3px;  line-height:18px; font-size:13px; text-align:left;  }

.Leave_state .reftext_t span.nopass_t{color:#fff; height:20px; width:40px; line-height:20px; background:#f96062;border-radius:2px; margin-right:8px; font-size:13px; padding:0 5px; display: block; float:left;}

.Leave_state .reftext_t span.pass_t{color:#fff; height:20px; width:40px; line-height:20px; background:#2ac06d;border-radius:2px;  margin-right:8px; font-size:13px; padding:0 5px; display: block; float:left}

.Leave_state .bt{ text-align:right; padding:0; margin:0}
.Leave_state .bt a{ height:28px; border:1px solid #00a8ee; line-height:28px; text-align:center; width:56px; display:inline-block; color:#00a8ee; text-decoration:none; border-radius:2px; margin-left:6px; padding:0;}

/**留言来自**/
 .mess_from {
    padding: 10px;
    background: #f5f5f5;
    font-size: 14px;
    border-radius: 3px;
    margin:12px 0 0;
    color: #777;
}
 .mess_from b{ color:#0d98db; font-weight:100}

/**yonson add**/
em.t_par{ font-size:10px; height:13px; line-height:14px; border:1px solid #f68a45; border-radius:2px; color:#f68a45; display:inline-block; text-align:center; font-style:normal; padding:0 2px; margin-left:3px;}
em.t_tea{ font-size:10px; height:13px; line-height:13px; border:1px solid #34cc33; border-radius:2px; color:#34cc33; display:inline-block; text-align:center; font-style:normal; padding:0 2px; margin-left:3px;}
