/*专属：邀请关注图片页面*/
.data-wrap img{text-align:center;}
.picture{position:relative;width:100%;}
.icon3 img{width:100%;size:100% 100%;}
.icon4{ position:absolute; margin:auto;left:0;top:30%;bottom:0;right:0; width:7rem; height:7rem; overflow:hidden; background:#f8fef9;}
.icon4 img{ position:absolute;left:0;top:0;bottom:0;right:0; width:6rem; height:6rem; margin:auto;}
.icon5{ position:absolute;bottom:-10%; width:100%;height:10px; background:url(../images/my/invitation/invitation1_05.png) repeat-y;}


.share_code{ width:2.32rem; margin-top:25%; margin-left:0.34rem; position:absolute; top:0; z-index:1; left:0;}
.share_code span{ width:2.10rem; padding-left:0.22rem; height:2.25rem; text-align:center; font-size:0.15rem; color:#000; display:block; background:url(../images/share_codebg.png) no-repeat; background-size:100%;}
.share_code span img{ width:1.24rem; margin-top:0.35rem; margin-bottom:0.08rem}
.share_code p{ text-align:center; padding-left:0.22rem; padding-top:0.05rem; line-height:0.18rem; font-size:0.12rem; color:#fff}
.share_b_bg{ position:fixed; bottom:0; }
.share_b_bg img{ width:100%}
.share_top{ padding:15px 8% 15px 0 ; text-align:center; font-size:14px; background:#259347; background-size:32px; border-bottom:1px solid #17883a; color:#fff; position:fixed; width:92%;top:0}
.share_top span{ width:30px; padding-right:15px; position:absolute; top:10px; right:0;}
.share_top span img{ width:30px;}
