
/*留言*/
.notice-wrap{ padding:0 12px 45px; margin-bottom:45px;}
.notice-box{padding:0 12px; margin:0 0 12px; background:#FFFFFF; border-bottom:1px solid #eeeeee;border-top:1px solid #eeeeee}
.from{  padding:6px 0; border-bottom:1px solid #eff1f3; clear:left; overflow:hidden}
.from .time{ float:right;font-size:12px; color:#808080; width:40%; vertical-align:middle; line-height:37px; }
.from .title{ font-size:18px; width:50%; line-height:37px; color:#0d98db;}
.from .title b{ font-size:12px; padding:0 2px; font-weight:normal;   color:#777}
.from .mes_tl{ font-size:18px; width:60%; color:#000;  }
.list_from .t_lh35,.from .t_lh35{ line-height:33px;}
.list_from .t_lh20,.from .t_lh20{ line-height:20px;}
.from .mes_tl em.t_par{ font-size:10px; height:13px; line-height:14px; border:1px solid #f68a45; border-radius:2px; color:#f68a45; display:inline-block; text-align:center; font-style:normal; padding:0 2px; margin-left:3px;}
.from .mes_tl em.t_tea{ font-size:10px; height:13px; line-height:13px; border:1px solid #34cc33; border-radius:2px; color:#34cc33; display:inline-block; text-align:center; font-style:normal; padding:0 2px; margin-left:3px;}
.from .mes_tl b{ font-size:12px; padding:0 2px; font-weight:normal;   color:#777}
 .t_lh20 .mess_for {width:30px; height:30px; margin-right:3px;	background:url(../images/ico_for1.png) center no-repeat; background-size:30px; display:block; float:left}
.t_lh35 .mess_for {width:30px; height:30px; margin-right:3px;	background:url(../images/ico_for1.png) 0 2px no-repeat; background-size:30px; display:block; float:left}


.me_face {width:18px;height:18px; position:absolute; left:32px; top:25px;}
.me_face img{ width:18px; height:18px; border-radius:18px; border:2px solid #fff;}
.notice-con{ color:#000; padding:12px 0;}
.notice-con p{ padding:6px 0 0 0;}
a.img_narrow{ width:31%; margin:0 3px; display:inline-block}
a.img_narrow img{ width:100%; min-height:68px;}
.notice-con img{ width:100%; margin:6px 0 0;}
.down_file{ border:1px solid #e7e7e7; padding:8px;  margin:0 0 15px; font-size:16px; color:#777;border-radius:3px; }
.down_file img{ width:40px; height:40px; vertical-align:text-bottom; margin-right:10px;border-radius:40px; vertical-align:middle }
.down_file span{ float:right; margin-top:4px;}
a.btn_Grey{ color: #777; background:#f5f5f5;  border:1PX solid #e7e7e7; font-size:13px; display:inline-block; height: 28px; line-height:28px;  margin: 0;  padding: 0 10px; min-width:30px;  text-align:center; text-decoration:none}


.list_con{ padding-top:0;}
.list_box{ border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; background:#fff; margin-bottom:12px;}
.date_list_t{ padding:0 12px; border-bottom:1px solid #f2f2f2}
.list_from{  padding:8px 12px 0 12px; clear:left; overflow:hidden; position:relative}
.list_from .time{font-size:12px; color:#808080; width:40%;line-height:35px; }
.list_from .time1{font-size:12px; color:#808080; width:50%; padding-top:8px; }
.list_from .title{ font-size:18px; height:35px;  width:60%;color:#000;}
.list_from .title b{ font-size:12px; padding:0 2px; font-weight:normal;   color:#777}
.face_pic{ width:35px; height:35px;  margin:0 8px 0 0;  display:inline-block; vertical-align:middle; float:left  }
.face_pic img{ width:35px; height:35px; border-radius:5px;}
.list_tit{ color:#333; padding:8px 12px 12px; line-height:1.5em; font-size:16px; clear:left; overflow:hidden}
.list_tit img{ width:100%}

/*图片-多张显示*/
.list_pic_more{ padding:8px 0 0; overflow:hidden}
.list_pic_more a{float:left;margin-right:3px;margin-bottom:3px;}
.list_pic_more span{ width:0.956rem;height:0.956rem;overflow:hidden;display:block;}
.list_pic_more span img{ width:100%; padding:0; margin:0;}

/*图片-4张*/
.list_pic_4{ padding:8px 0 0; width:70%; overflow:hidden}
.list_pic_4 a{float:left;margin-right:3px;margin-bottom:3px;}
.list_pic_4 span{ width:0.956rem;height:0.956rem;overflow:hidden;display:block}
.list_pic_4 span img{ width:100%; padding:0; margin:0;}

/*图片-1张-横向*/
.list_pic_x{ padding:8px 0 0; overflow:hidden}
.list_pic_x a{float:left;margin-right:3px;margin-bottom:3px;}
.list_pic_x span{ width:100%;overflow:hidden;display:block}
.list_pic_x span img{ width:100%; padding:0; margin:0;}

/*图片-1张-纵向*/
.list_pic_y{ padding:8px 0 0; overflow:hidden}
.list_pic_y a{float:left;margin-right:3px;margin-bottom:3px;}
.list_pic_y span{ width:1.9rem; max-height:2.4rem; overflow:hidden;display:block}
.list_pic_y span img{ width:100%; padding:0; margin:0;}

.list_state{ text-align:right;font-size:12px; color:#808080; padding:10px 12px;  margin:0;border-radius:2px; border-top:1px solid #eff1f3;}
.list_mess{ text-align:right;font-size:12px; color:#808080; padding:10px 12px;  margin:0; background:#f0f0f0;border-radius:2px;}
.list_mess h3{ text-align:center; padding:20px 0; color:#bdbdbd; font-weight:normal}
.list_mess hr{ padding:0; margin:0 0 10px; border-top:1px  solid #e2e2e2; border-bottom:0; border-bottom:0; border-left:0; }
a.bt_mess{  text-align:left; line-height:18px;  display:inline-block; background:url(../images/ico_mess1.png) 0 center no-repeat;background-size:16px; text-decoration:none; color:#6d8ba7; padding-left:22px;}
.list_state p{ text-align:left; padding:0 0 0 33px; font-size:13px; color:#555; clear:left; overflow:hidden;  min-height:30px; position:relative}
.list_mess p{ text-align:left; padding:0 0 8px; font-size:14px; color:#666; clear:left; overflow:hidden; line-height:18px}
.list_mess p b{ color:#999; font-size:10px; font-weight:normal; padding:0 2px;}
.list_state p b{ color:#999; font-size:10px; font-weight:normal; padding:0 2px;}

.list_mess p img{ width:28px; height:28px; border-radius:2px; float:left; vertical-align:middle; margin-right:5px;}
.list_state p img{ width:28px; height:28px; border-radius:2px; position:absolute; top:1px; left:0}

/*表单*/
.input_box{ border-top:1px solid #d0d0d0; border-bottom:1px solid #d0d0d0; background:#fff; margin-bottom:12px; padding:12px 0 8px;}
.input_box textarea{ width:100%;  height: auto;
    min-height:80px;
    font-size: 16px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    border: none;
    -webkit-appearance: none; margin:0; }
.input_box hr{border-top:0; border-left:0;border-bottom:1px solid #e0e0e0; margin:15px 12px 10px}
.input_box p{ margin:0 12px; font-size:16px; clear:right; overflow:hidden; color:#333}
.input_box p b{ color:#777; font-weight:normal}

.inputstyle {
  height: 30px;
  border: 0;
  background: 0;
  font-size: 16px;
  width:100%;
  -webkit-appearance: none;
background:url(../images/jt_r.png) right center no-repeat #fff; background-size:15px; }

.ke_input {
  height: 30px;
  color: #777;
  border: 0;
  background: 0;
  font-size: 16px;
  width:80%;
  -webkit-appearance: none;
background:#EBEBEB;
border-radius:3px;
padding:5px 1%; 
}
.txt-area {
  min-height: 85px;
  border: 0 none;
  margin: 0;
  padding: 5px 5px 0;
  font-size: 16px;
  
  -webkit-appearance: none;
  resize: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color:#999;

}
.opert{ padding:8px 0 0; margin:0 12px; clear:left; overflow:hidden}
.opert a{ width:0.66rem; margin:4px 8px 4px 0; display:block; float:left; position:relative}
.opert img{ width:0.66rem;}
.del_photo{ width:20px; height:20px; position:absolute; right:-5px; top:-5px; background:url(../images/ico_del.png) no-repeat; background-size:20px;}

a.bt_blue{ height:36px; margin:0 12px; background:#1cc0e3; text-align:center; line-height:36px; font-size:16px; display:block; color:#fff; border-radius:3px; text-decoration:none}
a.bt_org{ height:36px; margin:0 50px; background:#f8a900; text-align:center; line-height:36px; font-size:16px; display:block; color:#fff; border-radius:3px; text-decoration:none}
a.bt_green{ position: relative;
    display: block;
    margin:15px 15px 10px;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 2.33333333;
    border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
	background-color: #04BE02;
}

.teac_list{ border:1px solid #d0d0d0;background:#fff; margin:12px; padding:12px;}
.class_list{ border:1px solid #d0d0d0;background:#fff; margin:12px; padding:0 12px;}
.teac_list p{ font-size:16px;padding:0; }
.class_list p{ font-size:16px; padding:12px 0; }
.teac_list hr{border-top:0; border-left:0;border-right:0;border-bottom:1px solid #e0e0e0; }
.class_list hr{border-top:0; border-left:0;border-right:0;border-bottom:1px solid #e0e0e0; margin:0; padding:0}

.send_list{ border:1px solid #d0d0d0;background:#fff;  margin:0 12px 12px; border-radius:3px;box-shadow: 0 0 3px 0 #ccc;}
.send_list ul{ padding:0; font-size:14px; width:100%}
.send_list ul li{ position:relative; padding:8px 0 0 0; line-height:30px;}
.send_list ul li hr{border-top:0; border-left:0;border-right:0;border-bottom:1px solid #cccccc; margin:12px 0 0 0}
.send_list ul li a{ padding:0 15px 0 25px;}
.send_list ul li .pay_us{ right:10px; top:5px;} 

.send_list ul li .dy_more,.send_list ul li .dy_some{ position:absolute; right:10px; width:24px; height:24px; top:12px;}
.send_list ul li p{border-bottom:1px solid #e0e0e0; padding:10px 0; margin-left:50px;}

.send_list ul li p a{ padding-left:0; }


.point_last{ font-size:16px; color:#999; text-align:center; margin:0 20px 12px; background:url(../images/t_bg.png) center repeat-x;}

.point_last b{font-size:16px; padding:0 10px;  top:0; background:#ebebeb; font-weight:normal}
.last_time { width:60px; height:22px; background:#cecece; color:#fff; text-align:center; margin:12px auto; border-radius:3px;}
.last_time b{ background:#cecece; color:#fff; text-align:center; border-radius:3px; font-size:12px; padding:0; line-height:22px; font-weight:normal}



/*选项切换*/
.class_tab{ height:45px;  border-bottom:1px solid#d8d8d8; background:#fff; margin-bottom:12px;  font-size:16px; }
.class_tab a{height:43px; line-height:43px; display: inline-block; text-align:center; text-decoration:none;  width:50%;  color:#777;}

.class_tab a.sel{  height:43px; line-height:43px; display: inline-block; text-align:center; text-decoration:none;  width:50%;  color:#3cc51f; border-bottom:2px solid #3cc51f }



/*回复输入框*/
.reply_box{ height:44px; width:96%; padding:0 2%; border-top:1px solid #fff; padding-top:5px; box-shadow: 5px 5px 2px 5px #CCC; bottom:0; left:0; background:#f5f5f7; position:fixed}
.reply_input{ width:70%; height:35px; line-height:35px; background:#fff; padding:0 2%;border-radius:3px; border:1px solid #d6d6d9 ; font-size:16px; margin-right:2%; vertical-align:middle; box-shadow:0;  -webkit-appearance: none;
}
.reply_box a{ height:33px;  background:#04BE02; text-align:center; line-height:33px; font-size:14px; display:inline-block; color:#fff; border-radius:3px; text-decoration:none; border:1px solid #36ba1a; width:22%; vertical-align:middle}




/**留言来自**/
 .mess_from {
    padding: 10px;
    background: #f5f5f5;
    font-size: 14px;
    border-radius: 3px;
    margin:8px 0 0;
	line-height:22px;
    color: #777;
}
 .mess_from b{ color:#000; font-weight:normal}

.p_Cue{ 
     box-sizing: border-box;
	line-height:20px;
    font-size:12px;
    text-decoration: none;
	padding:0 15px; 
    color:#789fb6;
	
}

.mes_for{ border-top:1px solid #d0d0d0; border-bottom:1px solid #d0d0d0; background:#fff; margin-bottom:12px; padding:8px 0 8px;}
.mes_for p{ font-size:12px; color:#888; padding:0 2px 8px; margin:0 12px; border-bottom:1px solid #d4d4d4;}
.mes_for_user{ padding:8px 10px 0 0; height:42px; font-size:14px;color:#555; position:relative; clear:left; margin:0 12px;}
.mes_for_user img{ width:42px; height:42px; border-radius:2px; float:left; margin-right:8px; vertical-align:middle}
.mes_for_user b{font-size:16px; color:#000; padding:4px 0 2px; font-weight:normal; display:inline-block ; font-weight:normal}
.mes_for_user em{ font-size:12px; font-style:normal; color:#999}


