@charset "utf-8";
/* CSS Document */


.from{  padding:6px 0 8px; border-bottom:1px solid #eff1f3; clear:left; overflow:hidden}
.from .time{ float:right;font-size:12px; color:#808080; width:40%; vertical-align:middle; line-height:37px; }
.from .title{ font-size:18px; width:50%; line-height:37px; color:#0d98db;}
.from .title b{ font-size:12px; padding:0 2px; font-weight:normal;   color:#777}
.from .mes_tl{ font-size:18px; width:60%; color:#0d98db; height:40px; }
.t_lh37{ line-height:37px;}
.from .mes_tl em.t_par{ font-size:10px; height:13px; line-height:14px; border:1px solid #f68a45; border-radius:2px; color:#f68a45; display:inline-block; text-align:center; font-style:normal; padding:0 2px; margin-left:3px;}
.from .mes_tl em.t_tea{ font-size:10px; height:13px; line-height:13px; border:1px solid #34cc33; border-radius:2px; color:#34cc33; display:inline-block; text-align:center; font-style:normal; padding:0 2px; margin-left:3px;}
.from .mes_tl b{ font-size:12px; padding:0 2px; font-weight:normal;   color:#777}
.mess_for {
    
    float: left;
	padding-right:3px;
	color:#777;
    font-size: 14px;
	line-height:37px;
}
.notice-con{ color:#000; padding:12px 0; line-height:1.5em}
.notice-con p{ padding:6px 0 0 0;}
a.img_narrow{ width:31%; margin:0 3px; display:inline-block}
a.img_narrow img{ width:100%; min-height:68px;}
.notice-con img{ width:100%; margin:6px 0 0;}

.dy_line{ font-size:12px; color:#c3c3c3; text-align:center; margin:12px 20px 12px; background:url(../images/t_bg1.png) center repeat-x;}
.dy_line b{font-size:12px; padding:0 10px; color:#c3c3c3;  top:0; background:#ebebeb; font-weight:normal}


.list_con{ padding-top:0;}
.list_box{ border:1px solid #dcdcdc; margin:0 12px 12px; background:#fff; margin-bottom:12px; position:relative; border-radius:6px;}
.date_list_t{ padding:0 12px; border-bottom:1px solid #f2f2f2}
.list_from{  padding:0 0 0 12px; height:45px;  clear:left; overflow:hidden; border-radius:6px 6px 0 0}
.titred{  background:url(../images/ques_titbg.png) repeat-x; background-size:10px;}
.titgreen{  background:url(../images/ques_tit1bg.png) repeat-x;background-size:10px; }


.list_from .time{font-size:12px; color:#808080; width:40%;line-height:30px; }
.list_from .time1{font-size:12px; color:#808080; width:50%; padding-top:8px; }
.list_from .title{ font-size:18px; line-height:35px; width:60%;color:#0d98db}
.list_from .title b{ font-size:14px; padding:0 2px; font-weight:normal;   color:#777}
.face_pic{ width:35px; height:35px;  margin:0 5px 0 0;  display:inline-block; vertical-align:middle  }
.face_pic img{ width:35px; height:35px; border-radius:35px;}
.list_tit{ color:#333; padding:8px 12px; line-height:1.5em; font-size:16px; clear:left; overflow:hidden}
.list_tit img{ width:100%}

/*图片列表*/
.list_pic{ padding:8px 0 0; overflow:hidden}
.list_pic a{float:left;margin-right:3px;margin-bottom:3px;}
.list_pic a img{ width:100%}
.list_pic span{ width:0.956rem;height:0.956rem;overflow:hidden;display:block}
.list_pic span img{ width:0.956rem; float:left;}
.list_pic .photo4{ width:70%}
.list_pic .photo4 img{width:100%}


.list_state{ text-align:right;font-size:12px; color:#808080; padding:10px 12px;  margin:0;border-radius:2px; border-top:1px solid #eff1f3;}
.list_mess{ text-align:right;font-size:12px; color:#808080; padding:10px 12px;  margin:0; background:#f0f0f0;border-radius:2px;}
.list_mess h3{ text-align:center; padding:20px 0; color:#bdbdbd; font-weight:normal}
.list_mess hr{ padding:0; margin:0 0 10px; border-top:1px  solid #e2e2e2; border-bottom:0; border-bottom:0; border-left:0; }
a.bt_mess{  text-align:left; line-height:18px;  display:inline-block; background:url(../images/ico_mess1.png) 0 center no-repeat;background-size:16px; text-decoration:none; color:#3b84b2; padding-left:22px;}
.list_state p{ text-align:left; padding:0; font-size:13px; color:#777; clear:left; overflow:hidden; line-height:20px}
.list_mess p{ text-align:left; padding:0 0 8px; font-size:14px; color:#666; clear:left; overflow:hidden; line-height:20px}
.list_mess p b,.list_state p b{ color:#0d98db; font-weight:normal; padding:0 2px;}
.list_mess p img,.list_state p img{ width:28px; height:28px; border-radius:28px; float:left; vertical-align:middle}

/*表单*/
.input_box{ border-top:1px solid #d0d0d0; border-bottom:1px solid #d0d0d0; background:#fff; margin-bottom:12px; padding:12px 0;}
.input_box textarea{ width:100%;  height: auto;
    min-height:80px;
    font-size: 16px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    border: none;
    -webkit-appearance: none; margin:0; }
.input_box hr{border-top:0; border-left:0;border-bottom:1px solid #e0e0e0; margin:15px 12px 10px}
.input_box p{ margin:0 12px; font-size:16px; clear:right; overflow:hidden; color:#333}
.input_box p b{ color:#777; font-weight:normal}
a.operate-btn{ display:inline-block; color:#555; float:right; text-decoration:none}
a.operate-btn1{display:inline-block; color:#777; text-decoration:none}
a.operate-btn1 em{ font-size:14px; font-style:normal; padding-left:5px;}
a.operate-btn2{ display: inline-block; color:#777; width:40%; text-decoration:none; padding:0; line-height:36px;}
.op-check,.op-checked,.op-checkbk,.op-checkbkd,.op-radio,.op-radied{ width:22px; height:22px;  display: inline-block;
vertical-align:middle;
   margin-right: 6px;
   cursor: pointer;
   }
  .op-check{ background:url(../images/ico_check.png) top no-repeat; background-size:24px;}
  .op-checked{ background:url(../images/ico_check.png) bottom no-repeat;background-size:24px;}
    .op-checkbk{ background:url(../images/ico_check1.png) top no-repeat; background-size:24px;}
  .op-checkbkd{ background:url(../images/ico_check1.png) bottom no-repeat;background-size:24px;}
    .op-radio{ background:url(../images/ico_radio.png) top no-repeat; background-size:24px;}
  .op-radied{ background:url(../images/ico_radio.png) bottom no-repeat;background-size:24px;}


.dy_time{font-size:12px; color:#808080; clear:both; overflow: hidden}
.line_t{ border-top:1px solid #e0e0e0; padding:8px 0 0; margin-top:8px;}
.dy_time .box_l{ width:55%;line-height:25px;  float:left}
.dy_time .box_r{ width:45%;line-height:25px; text-align:right;  float:left}
.dy_time .box_r img{ width:25px; height:25px; border-radius:30px; margin-right:5px; vertical-align:middle}
.photo_m{font-size:12px; color:#808080; padding:5px 12px;  margin:0;border-radius:2px; border-top:1px solid #eff1f3; clear:both; overflow:hidden}
.float_l{ width:60%; text-align:left; line-height:30px; float:left}
.float_r{ width:40%; text-align:right; line-height:30px; float:right; position:relative}
.float_r img{ width:26px; height:26px; border-radius:26px; margin-right:5px; vertical-align:middle}
.c_red{ color:#ef4d58}
.c_green{ color:#6cb91f}
.c_org{ color:#ff950b; font-weight: normal}

/*问卷调研*/
.dy_more{ font-size:12px;; padding-right:16px; display:inline-block; background-size:15px; line-height:16px}
a.bt_blue{ height:36px; margin:0 12px; background:#1cc0e3; text-align:center; line-height:36px; font-size:16px; display:block; color:#fff; border-radius:3px; text-decoration:none}
a.bt_green{ height:36px; margin:0 12px; background:#04BE02; text-align:center; line-height:36px; font-size:16px; display:block; color:#fff; border-radius:3px; text-decoration:none}

.dy-wrap{ padding:0 0 45px; margin-bottom:20px;}
a.dy_bt_no{ height:21px; line-height:21px; text-align:center; width:56px; display:inline-block; background:url(../images/ques_tit.png) no-repeat; background-size:62px; color:#f86161; text-decoration:none;  margin:11px 0 0 6px; float:right; padding-left:6px;font-size:13px;}
a.dy_bt_yes{ height:21px; line-height:21px; text-align:center; width:56px; display:inline-block; background:url(../images/ques_tit.png) no-repeat; background-size:62px; color:#04be02; text-decoration:none;  margin:11px 0 0 6px; float:right; padding-left:6px;font-size:13px;}


.dy_tit{ font-size:18px; line-height:45px; overflow:hidden; color:#fff;  overflow:hidden; padding:} 
.dy_tit1{ font-size:18px; line-height:37px; color:#fff; background:#04BE02; text-align:center; overflow:hidden; padding:6px 0 0}
.dy_con{ padding:12px 12px 8px; margin:10px; border-radius:3px; background:#fff; border:1px solid #dedede}
.dy_con h2{ padding:0 0 6px; font-size:16px; font-weight:normal; color:#333}
.dy_con p{ padding:0; clear:left; overflow:hidden}

.dy_list dl{ padding:0 12px 12px; font-weight:normal}
.dy_list dl dt{ padding:8px 0; font-size:16px;color:#000; }
.dy_list dl dt span{ width:2.96rem; height:1.45rem; margin:6px 0;display:block;}
.dy_list dl dt span img{ width:100%; border-radius:5px; }
.dy_list dl dt b{ font-size:12px; color:#999; font-weight:normal;}
.dy_list dl dd{ border:1px solid #d0d0d0;background:#fff; padding:0 5px; border-radius:3px; clear:left; overflow:hidden}
.dy_list dl dd p{ font-size:14px; padding:0 7px; line-height:42px; position:relative}
.dy_list dl dd p .bt_name{ width:25px; height:25px; background:url(../images/ico_name.png); background-size:25px; float:right; margin-top:10px; text-indent:-9999px; overflow:hidden}

.dy_list dl dd p b{ font-size:12px; color:#ff950b; font-weight:normal}
.dy_list dl dd hr{border-top:0; border-left:0;border-bottom:1px solid #e0e0e0; margin:0; padding:0}
.dy_list dl dd textarea{ border:none; width:100%}
.dy_list dl dd.as{  padding:12px; border-radius:3px; background:none; border:none}
.dy_list dl dd.as p{ font-size:14px;}
.dy_list dl dd.dd_tu{ padding:12px 5px 0;}
.dy_list dl dd p.ques_tu{ width:1.30rem; padding:0 0.06rem 0.12rem; float:left; font-size:14px; line-height:normal}
.dy_list dl dd p.ques_tu span.p_tu{width:1.30rem; height:1.30rem;border-radius:5px; margin:0 0 8px; display:block  }
.dy_list dl dd p.ques_tu img{width:1.30rem; border-radius:5px;  }
.dy_list dl dd p.ques_tu .bt_name{ width:25px; height:25px; background:url(../images/ico_name.png); background-size:25px; position:absolute; top:1.00rem; right:0; text-indent:-9999px; overflow:hidden}


.dy_list dl dd p b{ font-size:12px; color:#ff950b; font-weight:normal; position:relative}

/*问卷名单*/
.quesname{background:#fff;padding:0; border-radius:2px;font-size:14px; font-family:"微软雅黑";}
.quesname h2{ font-size:14px; padding:12px; font-weight:normal;  background:#ebebeb; }
.quesname h2 b{font-weight:normal; color:#555}
.quesname h2 em{ color:#f47300; font-style:normal}
.quesname h3{ text-align:center;font-size:16px; color:#f47300; background:#ebebeb; font-weight:normal; padding:0 30px 12px;} 
.quesname h3 span{ width:92px; height:92px; border-radius:3px; display:block; margin:auto}

.quesname h3 img{ width:92px; height:92px; border-radius:3px; margin-bottom:6px; }
.quesname h3 b{font-weight:normal; font-size:14px;color:#f47300;}

.quesname .name_list{ padding:0;}
.quesname .name_list ul{ list-style:none;}
.quesname .name_list ul li{ padding:12px; border-bottom:1px solid #e5e5e5;  line-height:20px; font-size:16px; color:#000; }
.quesname .name_list ul li img{width:44px; height:44px; margin-right:6px; vertical-align:middle; border-radius:44px; float:left;}
.quesname .name_list ul li b{ font-size:12px; color:#999; font-weight:normal; padding-left:4px;}
.quesname .name_list ul li em{ color:#555; font-style:normal}
.quesname .name_list p{ padding:40px 0; line-height:40px; text-align:center; font-size:20px; color:#777}
.quesname .name_list p img{ width:92px;}
