@charset "utf-8";
/* CSS Document */

body{background:#ebebeb;}

/*---列表页公用---*/
.date-wrap{padding-top:12px;}
.list_con{padding-top:0;}
.list_box{border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;background:#fff;margin-bottom:12px;}

.list_from{padding:0 0 0 12px;clear:left;overflow:hidden}
.list_from .title{font-size:18px; padding:12px 20px 12px 0; color:#000; position:relative}
.list_from .title b{font-size:14px;padding:0 2px;font-weight:normal;  color:#777}
.list_tit{color:#555;padding:12px 12px 12px 0;border-top:1px solid #e5e5e5;line-height:1.5em;font-size:13px;clear:left;overflow:hidden;margin:0  0 0 12px;}
.list_tit p{overflow:hidden;white-space: nowrap;text-overflow:ellipsis; height:20px; position:relative; padding-left:68px;}
.list_tit p span{width:68px; position:absolute; top:0; left:0}
.list_tit img{width:100%}

.dy_some{border-width:0 2px 2px 0;}
.dy_more{border-width:2px 2px 0 0;}
.dy_more,.dy_some{
	 position:absolute;top:18px;right:10px;width:6px;height: 6px;color:#888;border-style:solid;display:inline-block;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*---管理员列表页---*/
.list_h3{text-align:center;padding-bottom:12px;}
.list_h3 span{font-size:15px;line-height:25px;padding:0 10px;background:#c6c6c6;color:#fff}
.list_tit_admin{color:#555;padding:0 0 12px 0;border-bottom:1px solid #e5e5e5;line-height:1.5em;font-size:13px;clear:left;overflow:hidden;margin:0  0 0 12px;}
.list_OP{padding:12px;text-align:right;font-size:14px;}
.list_OP a{height:26px;border-radius:3px;border:1px solid #039802;padding:0 15px;background:#04be02;display:inline-block;color:#fff;text-align:center;line-height:26px;text-decoration:none;}
.list_OP .state_ok{color:#04be02;background:url(../images/btn-fs.png) 0 center no-repeat;background-size:15px;padding-left:18px;}

/*---家长列表页---*/
.date-wrap-par{padding:0;}

/*---家长选择小孩---*/
.date-wrap-child{padding:12px;}
.date-wrap-child .tsy{font-size:17px;line-height:22px;color:#000;padding-bottom:12px;font-weight:normal}
.child_list{font-size:18px;line-height:50px;color:#000;background:#fff;padding:0 0 0 12px;margin-bottom:12px;border:1px solid #c6c6c6;  position:relative}
.child_list b{font-size:14px;padding:0 2px;font-weight:normal;color:#777}


/*---详细页---*/
/*详细页-顶部说明*/
.score_top{padding:12px 0 0;position:relative;margin-bottom:12px;background:#fff}
.score_top .title{font-size:18px;color:#000;padding:0 70px 0 12px;}
.score_top .title1{font-size:18px;color:#000;padding:0 12px;}
.score_top .con {color:#555;padding:12px;line-height:1.5em;font-size:13px;clear:left;overflow:hidden;border-bottom:1px solid #e5e5e5;}
.score_top .con p{ padding-left:68px; position:relative}
.score_top .con p span{ width:68px; position:absolute; top:0; left:0}
.score_top .km{padding:12px 12px 4px;font-size:13px;border-bottom:1px solid #e5e5e5;color:#555}
.score_top .km p{padding-bottom:10px;}
.score_top .km a{width:48px;display:inline-block;text-align:center;margin:0 8px 8px 0; border:1px solid #919191;height:23px;color:#777;line-height:23px;text-decoration:none}
.score_top .km a.sel{background:#04be02;border:1px solid #04be02;color:#fff}
.score_top .class{/*padding:12px;*/padding:3%;font-size:15px;color:#555;width:94%;overflow:hidden;}
.score_top .wrapper_box{width:9999px;}
.score_top .wrapper_box a{line-height:35px;padding:0 8px; border:1px solid #04be02;color:#04be02;text-align:center;font-size:15px;margin-right:8px;display:inline-block;text-decoration:none}
.score_top .wrapper_box a.sel{background:#04be02;border:1px solid #04be02;color:#fff}

/*详细页-表格具体*/
.score_table{padding:12px;background:#fff;}
.list_mark{margin:12px 12px 0 0;}
.score_table table,.list_mark table{border-top:1px solid #b1b1b1;border-left:1px solid #b1b1b1;text-align:center;font-size:14px;}
.score_table table th,.list_mark table th{width:33%;background:#f6f6f6;border-right:1px solid #b1b1b1;border-bottom:1px solid #b1b1b1;line-height:30px;color:#000}
.score_table table td,.list_mark table td{width:33%;border-right:1px solid #b1b1b1;border-bottom:1px solid #b1b1b1;line-height:30px;color:#5e5e5e}



/*详细页-管理员状态位*/
.score_top .state_ok{position:absolute;top:12px;right:12px;color:#999;font-size:13px;text-align:right}
.score_top .state_ok p{color:#04be02;background:url(../images/btn-fs.png) 0 center no-repeat;background-size:15px;padding-left:18px;font-size:14px;}
.score_top .state_ok b{font-weight:normal;line-height:20px;}
/*详细页-管理员审核*/
.tz_box{width:96%;padding:5px 2%;border-top:1px solid #ccc;bottom:0;left:0;background:#f5f5f7;position:fixed;clear:both;overflow:hidden;text-align:right}
.tz_box a{display:block;height:36px;line-height:36px;padding:0 20px;font-size: 18px;text-align: center;text-decoration: none; border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;color: #FFFFFF;background-color: #04BE02;
}



/*无任教班级*/
.address_par_nodate{text-align:center;}
.address_par_nodate p{font-size:15px;color:#888;padding:60px 0;0}
 a.bt_green{position: relative;display: block;margin:0.30rem 0.12rem;padding-left: 14px;padding-right:14px; box-sizing: border-box;font-size: 18px;text-align: center;text-decoration: none;border:1px solid #04b102; color: #FFFFFF;line-height:40px;border-radius: 5px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);overflow: hidden;background-color: #04BE02;}










/*弹框样式*/
.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.weui_dialog {
   width: 85%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #FAFAFC;
  text-align: center;
  border-radius: 3px;
  position: relative;
     top: 50%;
    left: 50%;
}
.weui_dialog_confirm .weui_dialog .weui_dialog_hd {
  text-align: left;
  padding: 1.2em 20px .5em;
}
.weui_dialog_confirm .weui_dialog .weui_dialog_bd {
  text-align: left;
}
.weui_dialog_hd {
  padding: 1.2em 0 .5em;
}
.weui_dialog_title {
  font-weight: 400;
  font-size: 14px;
}
.weui_dialog_bd {
  padding: 0 20px;
  font-size: 15px;
  color: #888;
}
.weui_dialog_ft {
  position: relative;
  line-height: 42px;
  margin-top: 20px;
  font-size: 17px;
}
.weui_dialog_ft a {
  display: block;
  color: #3CC51F;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.weui_dialog_ft a:active,
.weui_dialog_ft a:hover {
  text-decoration: none;
}
.weui_dialog_ft:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #D5D5D6;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
          transform: scaleY(0.5);
}
.weui_dialog_confirm .weui_dialog_ft a {
  position: relative;
  float: left;
  width: 50%;
}
.weui_dialog_confirm .weui_dialog_ft a:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  border-left: 1px solid #D5D5D6;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleX(0.5);
      -ms-transform: scaleX(0.5);
          transform: scaleX(0.5);
}
.weui_dialog_confirm .weui_dialog_ft a:first-child:after {
  display: none;
}
.weui_dialog_confirm .weui_dialog_ft a:last-child {
  float: none;
  width: auto;
  overflow: hidden;
  *zoom: 1;
}
.weui_btn_dialog.default {
  color: #353535;
}
.weui_btn_dialog.primary {
  color: #0BB20C;
}
.weui_btn_dialog.remove {
  color: #ec5050;
}
@media screen and (min-width: 1024px) {
  .weui_dialog {
    width: 35%;
  }
}
