@charset "utf-8";
/* CSS Document */

body{ width:100%; height:100%;position:relative;}


/*--发送--*/
.homeworksend{padding:0 15px 10px 11px; border-radius:2px;font-size:14px; font-family:"微软雅黑"; margin-right:10px;}
.homeworksend p{ padding:0 0 10px;}
.homeworksend table{ padding:0; margin:0}
.homeworksend table td{ padding:15px 8px 15px 0;}
.line_b{ border-bottom:1px solid #e7e7e7;}
.line_b a.operate-btn1{ display:inline-block; color:#777; padding:6px 0 6px 0; text-decoration:none; padding-right:30px; }
.input_text{ border:none; padding:5px 0; color:#a6a6a6; background:url(../images/jt_r.png?v=1.9.1) right center no-repeat; width:564px;cursor:pointer;}
.input_textarea{ border:none; padding:0; color:#a6a6a6; width:550px;height:95px;resize:none;overflow:auto; background:none}
.filegrid{float:left;width:72px; height:72px;margin-top:3px;}
a.up_img{ width:72px; height:72px; border:2px solid #00a8ee; border-radius:3px; padding:0; margin:0; overflow:hidden; display:inline-block; margin-right:6px; position:relative; }
a.up_img:hover{border:2px solid #ee8756;}
a.up_img span{ width:20px; height:20px; position:absolute; bottom:-2px; right:-2px; background:url(../images/ico_det.gif?v=1.9.1) no-repeat; text-indent:-9999px; overflow:hidden; display:block}
a.up_img:hover span{  background:url(../images/ico_det1.gif?v=1.9.1) no-repeat; }
a.up_img img{ width:72px; height:72px;  border-radius:3px;}
.r_footer{ padding: 0 15px; text-align:right;margin-top:15px;}
/*--模拟上传进度--*/
.uploadprogress {display:none;}
.uploadprogress .uploadbg{position: absolute;left:0;top:0;width:100%;height:100%;background-color:#000;opacity:0.8;margin-top:0%;}
.uploadprogress .uploadnum{position:absolute;left:0;top:0;margin-top:25px;color:#fff;text-align:center;width: 100%;}
/*--附件上传（目前禁用）--*/
.file_box{ width:330px; float:left; font-size:12px;}
a.up_file{ width:277px; height:25px; line-height:25px; background:#eeeeee;display:inline-block; position:relative; color:#333;padding-right:18px; border-radius:2px; vertical-align:top; margin-bottom:6px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
a.up_file:hover{background:#e9e9e9;}
a.up_file .del{ width:18px; height:18px; position:absolute; top:4px; right:5px; background:url(../images/ico_file_close1.gif?v=1.9.1) no-repeat;  text-indent:-9999px; overflow:hidden; display:block}
a.up_file:hover .del{  background:url(../images/ico_file_close.gif?v=1.9.1) no-repeat; }
a.up_file img{width:25px;height:25px;margin-right:5px;}
a.up_file .text{width:240px;height:25px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;display:inline-block;}


/*--列表--*/
.noti_list{padding:10px 20px 0 15px;  font-size:14px; font-family:"微软雅黑";}
.noti_list li{padding:5px 6px 15px; }
.noti_list li h2{ font-size:12px; color:#999999; text-align:center; font-weight:100; padding-bottom:5px;}
.noti_list li p{ padding:10px 40px 10px 15px; background:#fff;border-radius:3px; font-size:14px; color:#999; position:relative; border:1px solid #e5e5e5}
.noti_list li p span{ display:block; padding:0 0 8px;  font-size:14px; color:#333; clear:left; overflow: hidden;border-bottom: 1px solid #e5e5e5;}
.noti_list li p span b{ font-size:18px; color:#3b84b2; font-weight:100}
.noti_list li p em{ color:#ff8330}
.noti_list li p span a{ color:#000}
.noti_list li p span a:hover{ color:#00a8ee}
.noti_list li p span .imgwrapper { width:120px; height:80px;float:left; margin:5px 8px 0 0;overflow:hidden;}
.noti_list li p span img{width:auto;height:auto;}
.noti_list a.bt_det{ width:20px; height:20px; background:url(../images/jt_r.png?v=1.9.1) no-repeat; display:block; text-indent:-9999px; overflow:hidden; position:absolute; top:45%; right:8px;}
.noti_list a.bt_det:hover{ background:url(../images/jt_r1.png?v=1.9.1) no-repeat; }
/*无数据状态*/
.no_date{ text-align:center; padding-top:50px;display:none;}
.no_date h2{ height:25px; line-height:25px; background:url(../images/no_date_line.png?v=1.9.1) center no-repeat; text-align:center; padding:15px 0;}
.no_date h2 b{ padding:0 20px; font-size:14px; color:#999; background:#f5f5f5; font-weight:100;}
.no_date p{ text-align:center;}



/*--详情--*/
.detail{padding:0 15px 10px 11px; border-radius:2px;font-size:14px;font-family:"微软雅黑";margin-right:10px;}
.det_box{padding:8px 0 0 0;}
.det_box .from{padding:0 ; clear:left; overflow:hidden;}
.det_box .from .time{font-size:12px; color:#808080; width:50%; vertical-align:middle; line-height:30px; }
.det_box .from .title{ font-size:12px; width:50%;color:#3b84b2; color:#999}
.det_box .from .title b{ font-size:16px;  color:#0085d0; font-weight:100}
.det_box .det_tit{ font-size:16px; color:#000; padding-bottom:8px;  clear:left; overflow: hidden}
.det_box .det_tit p{ padding:10px 0; margin:0}
.det_box .img_narrow{width:180px;height:120px; margin:3px; display:inline-block;}
.det_box .img_narrow img{ width:100%}
.det_box .down_file{ border:1px solid #e7e7e7; padding:8px; width:40%; margin:10px 10px 10px 0; font-size:16px; color:#777;border-radius:3px; float:left;}
.det_box .down_file img{ width:40px; height:40px; vertical-align:middle; margin-right:10px;border-radius:40px;}
.det_box .down_file span{ float:right; margin-top:4px;}
.det_box p{ font-size:14px; color:#999; padding:10px 0; clear:left; overflow:hidden;}
.tb_tit{padding:0}
.tb_tit a.tb_l{padding:3px 6px; border-top:1px solid #999;border-bottom:1px solid #999;border-left:1px solid #999; text-align:center; display: inline-block; color:#333;border-radius:3px 0 0 3px;}
.tb_tit a.tb_l_sel{padding:3px 6px; border-top:1px solid #0085d0;border-bottom:1px solid #0085d0;border-left:1px solid #0085d0; text-align:center; display: inline-block; color:#0085d0;border-radius:3px 0 0 3px; border-right:1px solid #0085d0; text-decoration:none;}
.tb_tit a.tb_r{padding:3px 6px; border-top:1px solid #999;border-bottom:1px solid #999;border-right:1px solid #999; text-align:center; display: inline-block; color:#333;border-radius:0 3px 3px 0; text-decoration:none;}
.tb_tit a.tb_r_sel{padding:3px 6px; border-top:1px solid #0085d0;border-left:1px solid #0085d0;border-bottom:1px solid #0085d0;border-right:1px solid #0085d0; text-align:center; display: inline-block; color:#0085d0;border-radius:0 3px 3px 0; text-decoration:none;}
.tb_tit a.tb_r:hover,.tb_tit a.tb_l:hover{color:#999;text-decoration:none;}

.detail a.operate-all{ display:inline-block; color:#777; padding:15px 0 15px 0; text-decoration:none;margin-right:10px;}
.detail a.operate-class1{ display:block; color:#777; padding:12px; text-decoration:none; background:#f2f2f2; border-bottom:1px solid #e0e0e0; position:relative}
.detail .jt_up{ width:20px; height:20px; background:url(../images/jt_down.png?v=1.9.1); position:absolute; top:12px; right:10px}
.detail .jt_down{ width:20px; height:20px; background:url(../images/jt_r.png?v=1.9.1); position:absolute; top:15px; right:10px}
.detail .fs_list{background:#fff; margin:8px 0 5px 12px;  font-size:14px;}
.detail a.operate-btn{ display:inline-block; color:#777; padding:6px 0 6px 0; text-decoration:none;width:32%;height:35px;box-sizing:border-box;}