@charset "utf-8";
/* CSS Document */

body{ width:100%; height:100%;position:relative; background:url(../images/bg.jpg?v=1.3.2)  no-repeat;}


/*--顶部导航条--*/
.topbar{background:#f5f5f5;min-width:1000px;height:55px;box-shadow:0 0 1px 0 rgba(0,0,0,0.3),0 0 6px 2px rgba(0,0,0,0.15);}
.topbar_wrap{width:1000px; margin:auto; height:50px; padding-top:3px;font-size:24px;color:#555;font-family:"微软雅黑";}
.topbar .logo{ height:auto; vertical-align:middle;}
.topbar_funs{display:none;margin-left:20px;}
.topbar_funs a{line-height:25px;font-size:15px; padding:0 5px 0 0px; display:inline-block; color:#333;}
.topbar_funs a:hover,.topbar_funs a.sel{color:#00a8ee;}
.topbar_funs a span{width:25px; height:25px; display:inline-block;background:url(../images/top_ico.png?v=1.3.2) 0 bottom no-repeat;vertical-align:middle;}
.topbar_funs a .home_nav{}
.topbar_funs a:hover .home_nav,.topbar_funs a.sel .home_nav{background-position:0 top;}
.topbar_funs a .home_wei{background-position:-25px bottom;}
.topbar_funs a:hover .home_wei,.topbar_funs a.sel .home_wei{background-position:-25px top;}

.topbar_set{ position:relative; float:right; z-index:900;}
.topbar_set a i{ background:url(../../qkw_web/images/arrow.png?v=1.3.2) 0 center no-repeat; display:inline-block; width:8px; height:4px; margin-left:5px; margin-bottom:3px;}
.topbar_set_icon{width:18px; height:18px; background:url(../images/ico_set.png?v=1.3.2) no-repeat; display:block; text-indent:-9999px; overflow:hidden; margin-top:12px;}
.topbar_set_icon:hover{background:url(../images/ico_set.png?v=1.3.2) right no-repeat;}
.topbar_set_list{position:absolute;top:45px;left:-35px; padding:5px 0; background:#fff; font-size:12px; width:92px; text-align:center; border:1px solid #cccccc; box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);border-radius:3px;}
.topbar_set_list .jt{width:11px;height:9px;background:url(../images/pop_upjt.png?v=1.3.2);position:absolute;top:-9px; left:40%}
.topbar_set_list a{ display:block; color:#555; height:26px; line-height:26px;}
.topbar_set_list a:hover{ color:#00a8ee;}
.topbar_info{ padding-right:15px; margin-right:15px; float:right; font-size:14px; border-right:1px solid #d9d9d9; margin-top:7px;}
.topbar_info img{vertical-align:middle; margin-right:6px; width:30px; height:30px; border-radius:30px;}


/*--左边框架--*/
.l_wrap{width:300px; height:560px;box-shadow: 0 3px 12px rgba(0,0,0,.2); position:absolute; top:65px; left:200px; z-index:1;}

/*--顶部功能区--*/
.l_head{ height:72px; background:#00a8ee; border-radius: 2px 2px 0 0; position:relative}
.t_func{ padding:3px 0 0 0; }
.t_func ul{ list-style:none; clear:left;}
.t_func ul li{ width:25%; float:left}
.t_func ul li a{ width:66px; height:23px; padding-top:43px; display:block; margin:auto; text-align:center; color:#fff; border-radius:3px;}
.t_func ul li a:hover{ text-decoration:none;}
.t_func ul li a.func_news{ background:url(../images/func_new.png?v=1.3.2) center 6px no-repeat ;}
.t_func ul li a.func_news:hover{ background:url(../images/func_new.png?v=1.3.2) center 6px  no-repeat #0097d6;}
.t_func ul li a.func_work{ background:url(../images/func_work.png?v=1.3.2) center 6px no-repeat;}
.t_func ul li a.func_work:hover{ background:url(../images/func_work.png?v=1.3.2) center 6px no-repeat #0097d6;}
.t_func ul li a.func_mess{ background:url(../images/func_mess.png?v=1.3.2) center 6px no-repeat;}
.t_func ul li a.func_mess:hover{ background:url(../images/func_mess.png?v=1.3.2) center 6px no-repeat #0097d6;}
.t_func ul li a.func_photo{ background:url(../images/func_photo.png?v=1.3.2) center 6px no-repeat;}
.t_func ul li a.func_photo:hover{ background:url(../images/func_photo.png?v=1.3.2) center 6px no-repeat #0097d6;}

/*--中间空白区--*/
.l_info{ background:#f7f7f7; padding:0; height:441px;overflow:hidden;position:relative;}
.l_info_wrapper{width:900px;position:absolute;left:-300px;}
.l_info_content{position:absolute;top:0px;left:300px;width:300px;height:441px;}

/*--底部导航--*/
.l_nav{ height:46px; background:#e9e9e9; border-top:1px solid #cccccc;position:relative; border-radius:0 0 2px 2px}
.l_nav ul{ list-style:none; clear:left;}
.l_nav ul li{ width:33.3%; float:left; position:relative} 
.l_nav ul li a{ width:40px; height:40px; display:block; margin:3px auto 0; text-indent:-9999px; overflow:hidden;}

.l_nav ul li a.nav_news{ background:url(../images/ico_nav.gif?v=1.3.2) 0 0 no-repeat;}
.l_nav ul li a.nav_news:hover{ background:url(../images/ico_nav.gif?v=1.3.2) 0 -40px no-repeat;}
.l_nav ul li.sel a.nav_news,.l_nav ul li.sel a.nav_news:visited,.l_nav ul li.sel a.nav_news:hover{  background:url(../images/ico_nav.gif?v=1.3.2) 0 -80px no-repeat;}

.l_nav ul li a.nav_addr{ background:url(../images/ico_nav.gif?v=1.3.2) -40px 0 no-repeat;}
.l_nav ul li a.nav_addr:hover{ background:url(../images/ico_nav.gif?v=1.3.2) -40px -40px no-repeat;}
.l_nav ul li.sel a.nav_addr,.l_nav ul li.sel a.nav_addr:visited,.l_nav ul li.sel a.nav_addr:hover{  background:url(../images/ico_nav.gif?v=1.3.2) -40px -80px no-repeat;}

.l_nav ul li a.nav_me{ background:url(../images/ico_nav.gif?v=1.3.2) -80px 0 no-repeat;}
.l_nav ul li a.nav_me:hover{ background:url(../images/ico_nav.gif?v=1.3.2) -80px -40px no-repeat;}
.l_nav ul li.sel a.nav_me,.l_nav ul li.sel a.nav_me:visited,.l_nav ul li.sel a.nav_me:hover{  background:url(../images/ico_nav.gif?v=1.3.2) -80px -80px no-repeat;}

.nav_jt{ width:11px; height:7px; position:absolute; top:-7px; left:15%; background:url(../images/jt_up.gif?v=1.3.2) no-repeat;transition:left 0.5s;-webkit-transition:left 0.5s;}



/*--右边框架--*/
.winbox{width:700px; height:560px;position:absolute; top:65px; left:500px;box-shadow: 0 3px 12px rgba(0,0,0,.2);overflow:hidden;z-index:2;}
.win_wrap{ width:700px; height:100%; background:#f5f5f5; border-radius:2px;}
.win_wrap h2{font-size:16px; text-align:center;font-family:"微软雅黑"; font-weight:100; background:#f5f5f5; color:#0085d0; border-bottom:1px solid #cccccc; line-height:35px; box-shadow:0px 5px 2px -5px #CCC;position:relative;display:block;}
.win_top{text-align:right;border-radius:0 2px 0 0;background:#f5f5f5;}
.win_close{width:20px; height:20px;  background:url(../images/ico_t_close1.png?v=1.3.2) center no-repeat; display:inline-block; text-indent:9999px; overflow:hidden; border-radius:0 2px 0 0;}
.win_close:hover{background:#d44027; background:url(../images/ico_t_close.png?v=1.3.2) center no-repeat #d44027;  }
.win_min{width:20px; height:20px;  background:url(../images/ico_t_min.gif?v=1.3.2) center no-repeat; display:inline-block; text-indent:9999px; overflow:hidden; border-radius:0 2px 0 0;}
.win_min:hover{background:#d44027; background:url(../images/ico_t_min_sel.gif?v=1.3.2) center no-repeat #00a8ee; }
.win_back{padding:0 8px; display:block; height:25px; line-height:25px; font-size:12px;  position:absolute;left:10px; color:#8195aa; font-family:Tahoma, Geneva, sans-serif; top:5px;}
.win_back:hover{ color:#555;}
.win_funbtn{display:inline-block;height: 24px; margin: 0; padding: 0 10px; min-width:30px; text-align:center; font-size:14px; line-height:24px; border: 1px solid #00a8ee;  border-radius:2px;color:#00a8ee; background:none; position:absolute; right:20px; top:2px;}
.win_funbtn:hover{ color: #0097d6; background:none; border:1px solid #0097d6;}

.win_con{ height:495px;margin:0 2px 10px 2px; border-radius:2px; font-size:14px; font-family:"微软雅黑";overflow:hidden;background:#fff;}
.win_con_frame{width:100%;height:100%;}



/*--角色选择--*/
.rolebox { position: absolute; left: 50%; top: 50%; margin-left:-250px;width:500px; height:auto; padding:0;  z-index: 999; background:#fff; border:1px solid #b7b7b7;border-radius:3px; box-shadow: 0 3px 12px rgba(0,0,0,.2);}
.rolebox h2 { position:relative; border-bottom:1px solid #dddddd; font-size: 16px; color: #505050; text-align: center; line-height: 36px; height: 36px; font-weight: normal; padding-top:9px;}
.rolebox div{ padding:15px 30px;}
.rolebox_close { position:absolute; right:0; top:0;display: block; float:right; background:url(../images/ico_close.png?v=1.3.2) center no-repeat; width:25px; height:20px;}
.rolebox_close:hover { background:url(../images/ico_closed.png?v=1.3.2) center no-repeat;}
.rolebox_list{max-height:426px;overflow-y:auto;}
.rolebox_role{ width:110px; border-radius:5px; padding:0; margin:0 17px; display: inline-block; color:#999;   text-align:center; font-size:12px; position:relative  }
.rolebox_role span{width:96px; height:96px; border:1px solid #dedede; box-shadow:0 0 5px #d0d0d0;border-radius:5px; display:inline-block; }
.rolebox_role span img{height:94px; width:94px; border:1px solid #fff; border-radius:5px; }
.rolebox_role_name{font-size:14px;color:#0085d0;padding-top:8px; line-height:16px;}
.rolebox_role_school{font-size:12px;color:#333; height:20px; overflow:hidden}
.rolebox_role span:hover{width:96px; height:96px; border:1px solid #c7ebfa; border-radius:5px;background:url(../images/ico_change_sel.png?v=1.3.2) center right no-repeat #f7f7f7; box-shadow:0 0 8px #0085d0;padding:0;display:inline-block;color:#999;}
.roleScale{
	-webkit-transition:-webkit-transform 1s;
	-ms-transition:-ms-transform 1s;
	transition:transform 1s;
	-webkit-transform : scale(0);
	-ms-transform : scale(0);
	transform : scale(0);
	-webkit-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	transform-origin:50% 50%;
}


/*图片弹层*/
.picbox{width:1000px;height:560px;position:fixed; left:50%; top:50%; z-index:1000; display:none;}
.picbox_bg{width:100%;height:100%;background:#000;opacity:0.7;filter: alpha(opacity=70);box-shadow:0 0 5px #ccc;border-radius:3px;}
.picbox_prev{position:absolute;left:2px;top:243px;width:48px;height:73px;cursor:pointer;background-position:0 -20px;background-image:url("../images/picbox.png");}
.picbox_next{position:absolute;right:2px;top:243px;width:48px;height:73px;cursor:pointer;background-position:-50px -20px;background-image:url("../images/picbox.png");}
.picbox_body{position:absolute;left:0;top:0;text-align:center;}
.picbox_body img{width:100%;height:100%;}
.picbox_close{position:absolute;right:0;top:0;width:20px;height:20px;background:url(../images/ico_close.png?v=1.3.2);background-size:100%;cursor:pointer;}
.picbox_close:hover{background:url(../images/ico_closed.png?v=1.3.2);}


