@charset "utf-8";
/* CSS Document */

body{ width:100%; height:100%;position:relative; background:#f5f5f5;}

/*分隔线*/
.leave_line{ font-size:12px; color:#a5a5a5; text-align:center; margin:12px 20px 12px;  background:url(../images/no_date_line.png?v=1.9.1) center no-repeat;}
.leave_line b{font-size:12px; padding:0 10px; color:#c3c3c3;  top:0; background:#f5f5f5; font-weight:100}

/*列表*/
.mess_list{padding:5px 10px 10px; font-size:12px; font-family:"微软雅黑";}
.mess_box{  padding:10px 15px 10px 15px; background:#fff;border-radius:3px; font-size:14px; color:#999; margin-bottom:12px; position:relative; border:1px solid #e5e5e5;position:relative}
.mess_box .from{ padding:0 ; clear:left; overflow:hidden}
.mess_box .from .title{ font-size:12px; width:50%;color:#3b84b2; color:#999}
.mess_box .from .title b{ font-size:16px;  color:#3b84b2; font-weight:100}
.mess_box .from .time{font-size:12px; color:#808080; width:50%; vertical-align:middle; line-height:30px; }
.mess_box .face_pic{ width:35px;  height:35px; display:inline-block; vertical-align:middle; margin:3px 10px 2px 0; float:left; font-size:14px;}
.mess_box .face_pic img{ width:35px; height:35px; border-radius:30px; margin:0 10px 0 0; vertical-align:middle}

.mess_box .mess_tit{ color:#333; padding:5px 180px 7px 45px; line-height:1.5em; font-size:16px; clear:left;  overflow:hidden; }
.mess_box .mess_tit p{ font-size:13px; color:#777; position:relative;margin-top:10px;}
.mess_box .mess_tit a{ color:#000}
.mess_box .mess_tit a:hover{ color:#00a8ee}

.mess_box .mess_tit1{color:#333; padding:5px 15px 7px 45px; line-height:1.5em; font-size:16px; clear:left;  overflow:hidden;}
.mess_box .mess_tit1 p{ font-size:13px; color:#777; position:relative}
.mess_box .mess_tit1 p span,.mess_box .mess_tit p span{ /*width:40px;*/padding:0 10px; height:40px; line-height:38px;border-radius:40px; font-size:12px; color:#999; border:1px solid #eff1f3; text-align:center; position:absolute; margin-left:30px; top:3px}
.mess_box .mess_tit1 p span b,.mess_box .mess_tit p span b{ font-size:18px; color:#2ac06d; font-weight:bolder;} 


.mess_box .leave_bt{ text-align:right; position:absolute; top:70px; right:15px; width:180px;}
.mess_box .leave_bt a{ min-width:42px; margin-left:10px;}
.mess_box .btn_blue_n{color:#00a8ee; background:none; border:1px solid #00a8ee;}
.mess_box .btn_blue_n:hover{ color: #0097d6; background:none; border:1px solid #0097d6;}


.mess_box .mess_state{font-size:12px; color:#808080; padding:10px 0 3px; border-top:1px solid #eff1f3; margin:0}
.mess_state .reftext_t{ line-height:22px; font-size:13px; color:#555; padding-left:46px; clear:right; overflow:hidden}
.mess_state .reftext_t span.nopass_t{color:#fff; height:20px; width:40px; line-height:20px; background:#f96062;border-radius:2px; margin-right:8px; font-size:13px; padding:0 5px; display: inline-block}
.mess_state .reftext_t span.pass_t{color:#fff; height:20px; width:40px; line-height:20px; background:#2ac06d;border-radius:2px;  margin-right:8px; font-size:13px; padding:0 5px; display: inline-block}
.mess_state .reftext_t span.time{text-align:right; color:#bebebe; line-height:22px; font-size:12px; float:right; padding-left:20px;  }


/*无数据状态*/
.no_date{ text-align:center; padding:10px 0 20px;display:none;}




/*弹出层请假*/
.pop_bg{background:#fff; border:1px solid #e0e0e0;width:100%; box-shadow:0 0 5px #ccc;border-radius:3px;width:420px;  z-index:1000; background:#fff}
.pop_head{height:98px; background:#fff; padding:10px;}
.pop_head textarea{font-size:15px;color:#333;resize:none;}
.pop_leave{border:none; width:100%; height:98px; color:#999}
.pop_bt{padding:10px 0; border-top:1px solid #e0e0e0;width:100%; text-align:right; background:#f3f3f3;}
.pop_bt a{display:inline-block; height: 28px;  margin: 0;  padding: 0 10px; min-width:40px;  text-align:center;  font-size:14px;  line-height:28px;  border: 1px solid #c8c8c8;  border-radius: 2px; margin-right:10px;}

/*
.pop_bt a.btn_grey,.pop_bt a.btn_grey:visited{ color:#777; background:#f5f5f5; border:1px solid #c0c5cd; font-size:13px;}
.pop_bt a.btn_grey:hover{ color: #555; background:#f5f5f5;  border:1px solid #c0c5cd;}

.pop_bt a.btn_ok,.pop_bt a.btn_ok:visited{ color:#333; background:#f5f5f5;border:1px solid #969aa1; font-size:13px;}
.pop_bt a.btn_ok:hover{ color: #000; background:#f5f5f5;  border:1px solid #969aa1;}
*/
.pop_bt .tips{width:100px; height:30px; line-height:30px; position:fixed; top:5px; right:70px; _position:absolute; _top:expression(documentElement.scrollTop+5+"px"); color:#fff;}



