@charset "utf-8";
/* CSS Document */
body {font-family:Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif; font-size: 12px;line-height: 1.5;}
*{margin: 0; padding: 0; box-sizing:border-box;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;}
ol, ul {list-style: outside none none;}
address, caption, cite, code, dfn, em, strong, th, var, optgroup {font-style: normal;}
input, button, textarea, select, optgroup, option {font-family: inherit;font-size: inherit;font-style: inherit;font-weight: inherit;}
fieldset, img, a img, *:link img, *:visited img {border: 0 none;}
a {text-decoration: none;}
a:hover {text-decoration: none;}
:focus {outline: 0 none;}
table {border-collapse: collapse;border-spacing: 0;}
caption, th {text-align: left;}
sup, sub {font-size: 100%;vertical-align: baseline;}
blockquote, q {quotes: none;}
blockquote::before, blockquote::after, q::before, q::after {content: none;}
.clearfix {}
.clear, .clearfix::after {clear: both;display: block;height: 0;overflow: hidden;}
.clearfix::after {content: ".";visibility: hidden;}
.font_l{ text-align:left}
.font_r{ text-align:right}

input:-webkit-autofill{background:#fff;}



body{ width:100%; height:100%;position:relative;padding-top:62px;}
/*--顶部 logo--*/
.logo_nav{width:100%;position: fixed;background-color: #fff;top: 0;z-index: 5;left: 0;box-shadow: 0 0 0 1px #ececec;}
.logo_warp{ width:1024px; margin:auto; padding:12px 0 0; height:62px;  position:relative}
.logo_warp .l_box{ width:50%; float:left}
.logo_warp .l_box .logo{ padding:0; margin-right:20px; }

.logo_warp .l_box .wxlogo{ padding:0;}
.logo_warp .l_box .wxlogo img{ height:32px;}
.logo_warp .r_box{ width:50%; float:left; text-align:right}
.logo_warp .r_box a{ margin-left:7px; vertical-align:middle; }
.logo_warp .r_box .gz_code{ width:42px; height:42px; background:url(../images/login2/top_gzus.png?v=1.9.1) 0 0 no-repeat; display:inline-block; }
.logo_warp .r_box .gz_code:hover{ background:url(../images/login2/top_gzus.png?v=1.9.1) 0 -42px no-repeat; }
.logo_warp .r_box .gz_qq{ width:42px; height:42px; background:url(../images/login2/top_gzus.png?v=1.9.1) -42px 0 no-repeat; display:inline-block; }
.logo_warp .r_box .gz_qq:hover{  background:url(../images/login2/top_gzus.png?v=1.9.1) -42px -42px no-repeat; }
.logo_warp .r_box .gz_Colle{ width:42px; height:42px; background:url(../images/login2/top_gzus.png?v=1.9.1) -84px 0 no-repeat; display:inline-block; }
.logo_warp .r_box .gz_Colle:hover{background:url(../images/login2/top_gzus.png?v=1.9.1) -84px -42px no-repeat; }

.logo_warp .r_box .gz_join{font-size:13px; width:70px; height:25px; display:inline-block; line-height:25px; margin-top:6px; background:#ff8d07; color:#fff; text-align:center; border-radius:3px; }
.logo_warp .r_box .gz_join:hover{ background:#f68500}
.logo_warp .r_box .gz_tiyan{font-size:13px; width:70px; height:25px; display:inline-block; line-height:25px; margin-top:6px; background:#00c800; color:#fff; text-align:center; border-radius:3px; }
.logo_warp .r_box .gz_tiyan:hover{ background:#44b549}

/*--扫码--*/

.scan_cade{ width:150px; padding:6px 6px 0 6px; border:1px solid #dedede; border-radius:2px; position:absolute; top:62px; right:-30px; box-shadow:0 0 5px rgba(0, 0, 79, .2); background:#fff}
.scan_cade img{ width:100%; margin-bottom:2px;}
.scan_cade p{ text-align:center; font-size:12px; color:#555; padding-bottom:6px;}
.scan_cade .jt_bg{ width:12px; height:7px; background:url(../images/login2/top_s_jt.png?v=1.9.1) no-repeat; position: absolute; top:-7px; left:70px;}






/*--顶部 登录--*/
.top_warp{ height:428px; background:url(../images/login2/top_bg.png?v=1.9.1) center no-repeat;}
.top_box{ width:1024px; margin:auto; clear:both; overflow:hidden}
.top_l_adv{ width:500px; text-align:center; padding:0; margin:0; float:left}
.top_r_log{ width:360px; float:right; }

.login {
	background:#fff;
	padding:0;
 	width: 300px;
	height:284px;
	margin:60px auto 0;
	border:3px solid #e7f8fb;
	position:relative
	
}

.login_tit{ height:42px; border-bottom:1px solid #ededed; position:relative}
.login_tit_m{ width:100%; position:absolute; top:0; left:0}
.login_tit_m a{ width:49%; text-align:center; font-size:16px; display:inline-block; }
.login_tit_m a:hover{color:#000;}
.login_tit_m a.line_y{ background:url(../images/login2/line_y.png?v=1.9.1) right center no-repeat}
.login_tit_m a span{line-height:41px; padding:0 16px;color:#000; }
.login_tit_m a.sel{color:#000;}
.login_tit_m a.sel span{ line-height:41px; display:inline-block; border-bottom:2px solid #00c800;}
.login_mm{ padding:13px 0 20px; line-height:20px; clear:left; overflow:hidden; color:#555; }
.login_mm a:link,.login_mm a:visited{ color:#555}
.login_mm a:hover{ color:#00c800}

.login_zhangmi{ padding:20px;}
a.b_login:link,a.b_login:visited{ display:block; height:47px; background:#00c800; font-size:16px; color:#fff; text-align:center; line-height:47px; border:1px solid #44b549; }
a.b_login:hover{  background:#00ad00; }
.login_mm span{ width:50%; height:16px; line-height:16px; float:left; font-size:14px;}
.login_mm span input{ vertical-align: middle; margin-right:2px;}
.login_mm span i{ width:16px; height:16px;margin-right:1px; vertical-align: middle; display:inline-block;background:url(../images/login2/ico_login_check.png?v=1.9.1) top;}
/*.login_mm .login_mm_checked{background:url(../images/login2/ico_login_check.png?v=1.9.1) bottom;}*/
.login_mm .login_mm_checked{background:url(../images/login2/ico_login_check.png?v=1.9.1) bottom!important;}
.login h3{ font-size:20px; font-weight:normal; color:#000; padding:0 0 10px;}
.login_box{border:1px solid #e7e7eb}


.login_user{ border:none;height:50px; width:200px;/*padding-right:20px;*/line-height:50px; color:#8e9db4;font-size:14px;}
.login_pass{  border:none; height:50px; width:200px;/*padding-right:20px;*/line-height:50px; color:#8e9db4;border-radius:3px; font-size:14px;}
.login_yzm{ width:100px; height:30px; padding:0 5px; line-height:30px;  border:1px solid #aaabab; color:#a9a9a9;}
.login_box_sub{border-bottom:1px solid #e7e7eb;border-radius:3px;}
.login_icon{width:50px;height:50px;display:inline-block;float:left;text-align:center;}
.login_icon img{position:relative;top:15px;}
.login a {
    color: #0088CC;
}
/*--微信扫码登录--*/
.login_weixin{ padding:0 20px;}
.login_weixin h4{ font-weight:normal; font-size:12px; color:#888; text-align:center; padding:12px 0 0;}
.login_weixin .weixin_code{ width:170px; height:170px; margin:auto}
.login_weixin .weixin_code iframe{ width:170px; height:170px;}
.login_weixin .weixin_code img{ width:168px; height:168px;}
.login_weixin .weixin_hlep{ width:76px; height:18px; margin:2px auto 0;line-height:18px; text-align:center; background: url(../images/login2/ico_weihao.png) 7px center #f8b01d no-repeat; border-radius:18px; color:#fff; display:block; padding-left:14px;}

/*--微信扫码成功--*/
.login_Scanok{ padding:0 20px; position:relative}
.login_Scanok h4{ font-weight:normal; font-size:14px; color:#888; text-align:center; padding:15px 0 0 8px; padding-bottom:10px;}
.login_Scanok .Scanok_img{ width:168px; height:136px; text-align:center; margin:25px auto 0}
.login_Scanok .progress_bg{ height:3px; width:180px; background:#ededed; position:relative; margin:auto; border-radius:4px; }
.login_Scanok .progress_ing{ background:#00c800;width:0;height:100%; position:absolute; top:0; left:0;border-radius:4px;
	 -webkit-transition-property: width; 
	 transition-property: width; 
	 -webkit-transition-duration : 4s; 
	 transition-duration : 4s;
}

/*--功能--*/
.t_warp{ padding:70px 0 0; height:500px; background:#fff;}
.t_warp_m{ width:1024px; margin:auto; padding:0;}
.t_warp_m h2{ text-align:center; font-size:32px; color:#1fa9ff; font-weight:100; padding-bottom:6px;}
.t_warp_m p{ text-align:center; font-size:18px; color:#777}
.t_warp_m ul{ list-style:none; margin-top:80px; overflow:hidden}
.t_warp_m ul li{ width:25%; text-align:center; float:left}
.t_warp_m ul li p{ padding-top:12px; color:#000}


.func_box{ height:600px;overflow:hidden;}
.func_m{ width:900px; height:600px; margin:auto; position:relative}
.bg_h{ background:#f6f6f6}
.func1_pic{ width:522px; height:600px; position:absolute; left:0; top:0}
.func1_txt{ text-align:right; width:380px; font-size:18px; position:absolute; right:50px; top:160px }

/*微官网介绍*/
.func1_txt p{ padding-top:25px; color:#888}
.func1_ico{ padding-top:54px;}
.func1_ico span{ display:inline-block; text-align:center}
.func1_ico span.ico1{ padding-left:25px;}
.func1_ico span.ico2,.func1_ico span.ico3{ padding:0 25px; background:url(../images/login2/func_line.png?v=1.9.1) right center no-repeat;}
.func1_ico span p{ font-size:14px; padding:10px 0 0;}

/*通讯录*/
.func2_pic{ width:600px; height:507px; position:absolute; right:-100px; top:45px}
.func2_txt{  width:465px; font-size:18px; position:absolute; left:0; top:160px }
.func2_txt p{ padding-top:25px; color:#888}
.func2_ico{ padding-top:54px;}
.func2_ico span{ display:inline-block; text-align:center}
.func2_ico span.ico1{ padding-right:25px;}
.func2_ico span.ico2,.func2_ico span.ico3{ padding:0 25px; background:url(../images/login2/func_line.png?v=1.9.1) left center no-repeat;}
.func2_ico span p{ font-size:14px; padding:10px 0 0;}

/*成绩查询*/
.func3_pic{ width:625px; height:370px; position:absolute; left:-80px; top:122px}
.func3_txt{ text-align:right; width:380px; font-size:18px; position:absolute; right:0; top:160px }
.func3_txt p{ padding-top:25px; color:#888}
.func3_ico{ padding-top:54px;}
.func3_ico span{ display:inline-block; text-align:center}
.func3_ico span.ico1{ padding-left:25px;}
.func3_ico span.ico2,.func3_ico span.ico3{ padding:0 25px; background:url(../images/login2/func_line.png?v=1.9.1) right center no-repeat;}
.func3_ico span p{ font-size:14px; padding:10px 0 0;}

/*班级圈*/
.func4_pic{ width:432px; height:503px; position:absolute; right:0; bottom:0}
.func4_txt{  width:425px; font-size:18px; position:absolute; left:0; top:160px }
.func4_txt p{ padding-top:25px; color:#888}
.func4_ico{ padding-top:54px;}
.func4_ico span{ display:inline-block; text-align:center}
.func4_ico span.ico1{ padding-right:25px;}
.func4_ico span.ico2,.func4_ico span.ico3{ padding:0 25px; background:url(../images/login2/func_line.png?v=1.9.1) left center no-repeat;}
.func4_ico span p{ font-size:14px; padding:10px 0 0;}

.app_box{ padding:90px 0 0; height:600px; background:#f6f6f6;}
.app_m{ width:1024px; margin:auto; padding:0;}
.app_m h2{ text-align:center; font-size:32px; color:#1fa9ff; font-weight:100; padding-bottom:6px;}
.app_m p{ text-align:center; font-size:18px; color:#777}
.app_m ul{ list-style:none; margin-top:80px; overflow:hidden}
.app_m ul li{ width:16.6%; text-align:center; float:left; margin-bottom:40px;}
.app_m ul li img{ width:80px; height:80px; border-radius:6px;}
.app_m ul li p{ padding-top:6px; color:#000}


.case_box{ padding:50px 0 20px;  background:#fff;}
.case_m{ width:1024px; margin:auto; padding:0;}
.case_m h2{ text-align:center; font-size:32px; color:#1fa9ff; font-weight:100; padding-bottom:16px;}
.case_m p{ text-align:center; padding:20px; font-size:20px; color:#888}
.case_m p a{ width:350px; height:60px; line-height:60px; border-radius:3px; font-size:30px; text-align:center; display:block; margin:auto; color:#fff; background:#00c800; margin-top:6px;}
.case_m p a:hover{ background:#00ad00}


/*--底部--*/
.foot_warp{ background:#f6f6f6; padding:15px; text-align:center; font-size:12px; color:#999;}
.foot_warp a{color:#999;}

/*--浮动窗口关注我们/客服--*/
.float_winR{ width:70px;background:#fff;box-shadow:0 0 6px #999;position:fixed;top:40%;right:20px;border-radius:3px;z-index:100; }
.float_winR a{color:#aeaeae; text-align:center;  display:block; }
.float_winR a img{ margin-bottom:3px;}
.float_winR a.online_kefu{ border-bottom:1px solid #e0dfdf; height:70px;  }
.float_winR a.online_kefu span,.float_winR a.follow_wx span{ padding-top:45px; display:block}
.float_winR a.online_kefu:hover{ border-bottom:1px solid #e0dfdf;  color:#fff; height:70px;  }

.float_winR a.follow_wx{  border-bottom:1px solid #cccccc; background: url(../images/login2/ico_weixin.png) center 10px no-repeat; height:70px;}
.float_winR a.follow_wx:hover{  border-bottom:1px solid #cccccc; background: url(../images/login2/ico_weixin_h.png) center 10px #09bb07 no-repeat; height:70px; color:#fff;}

.pop_code1{position:absolute;top:-1px;right:86px; padding:5px 0; background:#fff; font-size:12px; width:184px; text-align:center; border:1px solid #cccccc; box-shadow: #ccc 0px 0px 5px;border-radius:3px;}
.pop_code1 .jt{width:9px;height:11px;background:url(../images/pop_rjt.png?v=1.9.1) no-repeat;position:absolute;top:80px; right:-9px;}
.pop_code1 p{ font-size:14px; line-height:22px; color:#333;}
.pop_code1 p b{ font-size:14px; color:#00c800; font-weight:normal;}



/*--弹层 扫码--*/
.pop_scan{ width:500px; border:1px solid #e9eaee; background:#fff; position:absolute;box-shadow:0 0 6px rgba(130, 130, 130, .5);   top:250px; left:37%;z-index:1000;}
.pop_scan .tit{ height:50px; border-bottom:1px solid #e9eaee; background:#f4f5f9;  }
.pop_scan .a_close{ width:15px; height:15px; background:url(../images/login2/ico_pop_close.png?v=1.9.1) no-repeat; display:block; float:right; margin:15px 15px 0 0;}
.pop_scan .a_close:hover{background:url(../images/login2/ico_pop_close_h.png?v=1.9.1) no-repeat;}
.pop_box .con{ padding:20px;}
/*--提示不成功--*/
.pop_scan .ts_error{ text-align:center; padding:30px 0;}
.pop_scan .ts_error h2{ font-size:22px; color:#f2142e; font-weight:normal}
.pop_scan .ts_error p{ font-size:16px; color:#555; padding:10px 60px 20px;}
.pop_scan .ts_error a{ width:106px; height:32px; line-height:32px; text-align:center; line-height:32px; margin:auto;font-size:14px; border-radius:3px; display:block;background:#00c800; color:#fff;   border:1px solid #44b549;}
.pop_scan .ts_error a:hover{ background:#00ad00;}


/*--弹层 操作方法--*/
.pop_scan_step{ width:820px; border:1px solid #e9eaee; background:#fff; position:absolute;box-shadow:0 0 6px rgba(130, 130, 130, .5);top:100px; left:28%;z-index:1000;}
.pop_scan_step .tit{ height:50px; border-bottom:1px solid #e9eaee; background:#f4f5f9; line-height:50px; text-align:center; color:#555; font-size:18px;  }
.pop_scan_step .a_close{ width:15px; height:15px; background:url(../images/login2/ico_pop_close.png?v=1.9.1) no-repeat; display:block; float:right; margin:15px 15px 0 0;}
.pop_scan_step .a_close:hover{background:url(../images/login2/ico_pop_close_h.png?v=1.9.1) no-repeat;}
.pop_scan_step .con{ padding:0 0 10px 20px;}
.pop_scan_step .ts_step{padding:0;padding-right:20px;}
.pop_scan_step .ts_step_scroll{padding-top:20px;max-height:450px;overflow-y:auto;}
.pop_scan_step .ts_step h2{ font-size:16px; color:#000; padding-bottom:10px; font-weight:normal}
.pop_scan_step .ts_step h2 span{ padding:0 16px 0 0; font-size:18px; margin-right:4px; background:url(../images/login2/caozuo_line.png?v=1.9.1) right no-repeat; color:#00c800; display:inline-block}
.pop_scan_step .ts_step h2 b{ font-size:13px; color:#f2142e}
.pop_scan_step .ts_step p{ font-size:14px; color:#00c800; padding-left:20px;}
.pop_scan_step .ts_step a{ width:106px; height:32px; line-height:32px; text-align:center; line-height:32px; margin:auto;font-size:14px; border-radius:3px; display:block;background:#00c800; color:#fff;   border:1px solid #44b549; float:right; margin-top:10px; margin-right:10px;}
.pop_scan_step .ts_step a:hover{ background:#00ad00;}


@media screen and (max-width: 1024px) { 
	.logo_warp{ width:968px; margin:auto; padding:10px 0 0; height:62px;  position:relative}
	.top_box{ width:968px; margin:auto; clear:both; overflow:hidden}
	.case_m{ width:968px; margin:auto; padding:0;}
	.app_m{ width:968px; margin:auto; padding:0;}
	.func_m{ width:900px; height:545px; margin:auto; position:relative}
	.t_warp_m{ width:968px; margin:auto; padding:0;}
	.func2_txt{  width:350px; font-size:18px; position:absolute; left:2px; top:160px }
	.func1_pic{ width:522px; height:600px; position:absolute; left:2px; top:0}
	.func1_pic img{width:450px;height:550px;}
	.func1_txt{ text-align:right; width:380px; font-size:18px; position:absolute; right:100px; top:160px }
	.func2_pic img{width:500px;height:420px;}
	.func2_pic{ width:600px; height:507px; position:absolute; right:0; top:70px;text-align: right;}
	.func3_pic{ width:625px; height:370px; position:absolute; left:0; top:122px} 
	.func3_pic img{width:550px;} 
	.func3_txt{ text-align:right; width:380px; font-size:18px; position:absolute; right:1%; top:160px }
	.func4_pic{ width:432px; height:503px; position:absolute; right:0; bottom:0;text-align:right;}
	.func4_pic img{width:380px;}
	.func4_txt{  width:425px; font-size:18px; position:absolute; left:2px; top:160px }
 }
 