body{margin:0;padding:0;}
.impowerBox .qrcode {width:170px;margin-top:0;border:none;}
.impowerBox .title {display: none;}
.impowerBox .info {width:100px;display:none;}
.status_icon {display:none;}
.impowerBox .status {text-align:center;} 

