@charset "utf-8";
/* CSS Document */

body{ width:100%; height:100%;position:relative;}


/*--发送--*/
.noticesend{padding:0 15px 0px 11px; border-radius:2px;font-size:14px; font-family:"微软雅黑"; margin-right:10px;}
.noticesend p{ padding:0 0 10px;}
.noticesend table{ padding:0; margin:0}
.noticesend table td{ padding:15px 8px 15px 0;}
.line_b{ border-bottom:1px solid #e7e7e7;}
.input_text{ border:none; padding:5px 0; color:#a6a6a6; background:url(../images/jt_r.png?v=1.9.1) right center no-repeat; width:564px;cursor:pointer;}
.input_textarea{ border:none; padding:0; color:#a6a6a6; width:550px;height:95px;resize:none;overflow:auto; background:none}
.filegrid{float:left;width:72px; height:72px;margin-top:3px;}
a.up_img{ width:72px; height:72px; border:2px solid #00a8ee; border-radius:3px; padding:0; margin:0; overflow:hidden; display:inline-block; margin-right:6px; position:relative; }
a.up_img:hover{border:2px solid #ee8756;}
a.up_img span{ width:20px; height:20px; position:absolute; bottom:-2px; right:-2px; background:url(../images/ico_det.gif?v=1.9.1) no-repeat; text-indent:-9999px; overflow:hidden; display:block}
a.up_img:hover span{  background:url(../images/ico_det1.gif?v=1.9.1) no-repeat; }
a.up_img img{ width:72px; height:72px;  border-radius:3px;}
.r_footer{ padding: 0 30px 30px; text-align:right;}
/*--模拟上传进度--*/
.uploadprogress {display:none;}
.uploadprogress .uploadbg{position: absolute;left:0;top:0;width:100%;height:100%;background-color:#000;opacity:0.8;margin-top:0%;}
.uploadprogress .uploadnum{position:absolute;left:0;top:0;margin-top:25px;color:#fff;text-align:center;width: 100%;}
/*--附件上传（目前禁用）--*/
.file_box{ width:330px; float:left; font-size:12px;}
a.up_file{ width:277px; height:25px; line-height:25px; background:#eeeeee;display:inline-block; position:relative; color:#333;padding-right:18px; border-radius:2px; vertical-align:top; margin-bottom:6px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
a.up_file:hover{background:#e9e9e9;}
a.up_file .del{ width:18px; height:18px; position:absolute; top:4px; right:5px; background:url(../images/ico_file_close1.gif?v=1.9.1) no-repeat;  text-indent:-9999px; overflow:hidden; display:block}
a.up_file:hover .del{  background:url(../images/ico_file_close.gif?v=1.9.1) no-repeat; }
a.up_file img{width:25px;height:25px;margin-right:5px;}
a.up_file .text{width:240px;height:25px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;display:inline-block;}



/*--列表--*/
.noti_list{padding:10px 20px 0 11px;  font-size:14px; font-family:"微软雅黑";}
.noti_list li{padding:5px 6px 5px; }
.noti_list li h2{ font-size:12px; color:#999999; text-align:center; font-weight:100; padding-bottom:5px;}
.noti_list li .tb_con{ padding:10px 40px 10px 15px; background:#fff;border-radius:3px; font-size:14px; color:#888; position:relative; border:1px solid #e5e5e5; position:relative}
.noti_list li .tb_con .tb_txt{ padding-bottom:8px; margin-bottom:8px; font-size:14px; color:#333; clear:left;  line-height:21px; border-bottom: 1px solid #e5e5e5;overflow: hidden;}
.noti_list li .tb_con .tb_txt p{ clear:left; overflow:hidden;}
.noti_list li .tb_con .tb_txt b{ font-size:18px; color:#3b84b2; font-weight:100}
.noti_list li .tb_con em{ color:#ff8330}
.noti_list li .tb_con .tb_txt a{color:#000; color:#222}
.noti_list li .tb_con .tb_txt a:hover{ text-decoration:underline}
.noti_list li .tb_con .tb_txt .imgwrapper { width:115px; height:115px;float:left; margin:6px 6px 0 0;overflow:hidden;}
.noti_list li .tb_con span img{width:auto;height:auto;}
.fj_tit{ height:26px;   margin-top:8px; line-height:26px;}
.fj_tit span{ display:inline-block;background:#f2f2f5; font-size:12px;  padding-right:6px;}
.fj_tit span b{ color:#999; font-weight:normal; padding:0 8px;}
.fj_tit span a{ color:#00a8ee; background:url(../images/ico_down1.png?v=1.9.1) 0 center no-repeat; padding-left:12px;}
.fj_tit span a:hover{ text-decoration:underline}

.fj_tit i{ width:25px; height:25px; display:inline-block; vertical-align:top; margin-right:6px; border-radius:2px 0 0 2px; }
.fj_tit .file_ppt{background: url(../images/notice/file_ppt.png) no-repeat;background-size:25px;}
.fj_tit .file_doc{background: url(../images/notice/file_doc.png) no-repeat;background-size:25px; }
.fj_tit .file_xls{background: url(../images/notice/file_xls.png) no-repeat;background-size:25px;}
.fj_tit .file_pdf{background: url(../images/notice/file_pdf.png) no-repeat;background-size:25px;}


.noti_list a.bt_det{ width:20px; height:20px; background:url(../images/jt_r.png?v=1.9.1) no-repeat; display:block; text-indent:-9999px; overflow:hidden; position:absolute; top:45%; right:8px;}
.noti_list a.bt_det:hover{ background:url(../images/jt_r1.png?v=1.9.1) no-repeat; }
.noti_list .func_box{position:absolute; padding:0; bottom:10px; right:35px; font-size:12px; color:#e6e6e6;  border:none; display:block}
.noti_list .func_del{ display:inline-block; line-height:20px; background:url(../images/ico_del2.png?v=1.9.1) 0 center no-repeat; color:#6ba7c2; text-decoration:none; padding:0 10px 0 20px;}
.noti_list .func_mess{ display:inline-block; line-height:20px; background:url(../images/ico_mess2.png?v=1.9.1) 0 center no-repeat;  color:#6ba7c2; text-decoration:none;padding:0 10px 0 20px; margin-left:6px; }
.noti_list .func_mess:hover,.noti_list .func_del:hover{ color:#6ba7c2; text-decoration:underline}

/*列表-附件*/
.list_file_m{ margin:8px 0 0;}
.list_file{ height:24px; line-height:24px; background:#ededed; padding-right:8px; font-size:11px; display:inline-block; border-radius:2px; overflow: hidden}
.list_file i{ width:24px; height:24px; display:inline-block; vertical-align:top; margin-right:6px; border-radius:2px 0 0 2px; }
.list_file .file_ppt{background: url(../images/notice/file_ppt.png) no-repeat;background-size:24px;}
.list_file .file_doc{background: url(../images/notice/file_doc.png) no-repeat;background-size:24px; }
.list_file .file_xls{background: url(../images/notice/file_xls.png) no-repeat;background-size:24px;}
.list_file .file_pdf{background: url(../images/notice/file_pdf.png) no-repeat;background-size:24px;}

/*无数据状态*/
.no_date{ text-align:center; padding-top:50px;display:none;}
.no_date h2{ height:25px; line-height:25px; background:url(../images/no_date_line.png?v=1.9.1) center no-repeat; text-align:center; padding:15px 0;}
.no_date h2 b{ padding:0 20px; font-size:14px; color:#999; background:#fff; font-weight:100;}
.no_date p{ text-align:center;}

/*--详情--*/
.detail{padding:10px 15px 65px 11px; border-radius:2px;font-size:14px;font-family:"微软雅黑";margin-right:10px;}
.det_box{padding:0;}
.det_box .from{padding:10px 0 0 ; border-top:1px solid #e5e5e5; clear:left; overflow:hidden; margin-top:10px;}
.det_box .from .time{font-size:13px; color:#808080; width:50%; vertical-align:middle; }
.det_box .func_box{ padding:0; text-align:right;  font-size:12px;  border:none; width:50%; float:left}
.det_box .func_del{ display:inline-block; line-height:20px; background:url(../images/ico_del2.png?v=1.9.1) 0 center no-repeat; color:#6ba7c2; text-decoration:none; padding:0 10px 0 16px; background-size:14px;}
.det_box .func_mess{ display:inline-block; line-height:20px; background:url(../images/ico_mess2.png?v=1.9.1) 0 center no-repeat; background-size:13px; color:#3f86b3; text-decoration:none;padding:0 10px 0 20px; }
.det_box .func_mess:hover,.noti_list .func_del:hover{ color:#3f86b3; text-decoration:underline}


.det_box .see_data{ padding:0; margin:20px 0 10px; border:1px solid #dfdfdf; position:relative}
.det_box .see_data p{ padding:0 8px 0; line-height:35px; background:#f5f5f5; font-size:13px;border-bottom:1px solid #e5e5e5;}
.det_box .see_data a{ height:48px; line-height:48px; display:block;   font-size:16px; color:#888; padding:0 8px; }
.det_box .see_data a span{ width:20px; height:20px; background:url(../images/ico_open.png?v=1.9.1) no-repeat; float:right; margin:14px 0 0 0;}
.det_box .see_data a b{ color:#333; font-weight:normal}
.det_box .see_data a em{ color:#ff8400; font-style:normal}
.det_box .see_data a.ag_send{cursor:pointer;display:inline-block; height: 28px; margin: 0; padding:0; width:74px; text-align:center; font-size:14px; line-height:28px; border: 1px solid #0097d6;  border-radius:2px; position:absolute; right:30px; bottom:8px; background:#02a9ee; color:#fff;}

.det_box .det_tit{ font-size:16px; color:#000; padding:8px 0 0;  clear:left; overflow: hidden}

/*详情页的富文本容器样式，用于局部的样式重置*/
.det_box .det_tit .det_text ul{ list-style-type: circle;margin-left: 20px;}
.det_box .det_tit .det_text ol{list-style-type: decimal;margin-left: 20px; }

.det_box .det_tit p{  padding:10px 0 0; margin:0;clear:left; overflow:hidden;}
.det_box .img_narrow{ width:115px; height:115px;float:left; margin:6px 6px 0 0;overflow:hidden;}
.det_box .img_narrow img{ width:100%}
.det_box .down_file{ border:1px solid #e7e7e7; padding:8px; width:40%; margin:10px 10px 10px 0; font-size:16px; color:#777;border-radius:3px; float:left;}
.det_box .down_file img{ width:40px; height:40px; vertical-align:middle; margin-right:10px;border-radius:40px;}
.det_box .down_file span{ float:right; margin-top:4px;}
.det_box p{ font-size:14px; color:#999; padding:10px 0; clear:left; overflow:hidden;}
.tb_tit{padding:0}
.tb_tit a.tb_l{padding:3px 6px; border-top:1px solid #999;border-bottom:1px solid #999;border-left:1px solid #999; text-align:center; display: inline-block; color:#333;border-radius:3px 0 0 3px;}
.tb_tit a.tb_l_sel{padding:3px 6px; border-top:1px solid #0085d0;border-bottom:1px solid #0085d0;border-left:1px solid #0085d0; text-align:center; display: inline-block; color:#0085d0;border-radius:3px 0 0 3px; border-right:1px solid #0085d0; text-decoration:none;}
.tb_tit a.tb_r{padding:3px 6px; border-top:1px solid #999;border-bottom:1px solid #999;border-right:1px solid #999; text-align:center; display: inline-block; color:#333;border-radius:0 3px 3px 0; text-decoration:none;}
.tb_tit a.tb_r_sel{padding:3px 6px; border-top:1px solid #0085d0;border-left:1px solid #0085d0;border-bottom:1px solid #0085d0;border-right:1px solid #0085d0; text-align:center; display: inline-block; color:#0085d0;border-radius:0 3px 3px 0; text-decoration:none;}
.tb_tit a.tb_r:hover,.tb_tit a.tb_l:hover{color:#999;text-decoration:none;}

.detail a.operate-all{ display:inline-block; color:#777; padding:15px 0 15px 0; text-decoration:none;margin-right:10px;}
.detail a.operate-class1{ display:block; color:#777; padding:12px; text-decoration:none; background:#f2f2f2; border-bottom:1px solid #e0e0e0; position:relative}
.detail .jt_up{ width:20px; height:20px; background:url(../images/ico_open.png?v=1.9.1) bottom no-repeat; position:absolute; top:12px; right:10px}
.detail .jt_down{ width:20px; height:20px; background:url(../images/ico_open.png?v=1.9.1) no-repeat; position:absolute; top:15px; right:10px}
.detail .fs_list1{background:#fff; margin:8px 0 5px 12px;  font-size:14px;}
.detail a.operate-btn{ display:inline-block; color:#777; padding:6px 0 6px 0; text-decoration:none;width:32%;height:35px;box-sizing:border-box;}

/*--评论--*/
.mess-box{padding:0; margin:0 0 12px; background:#FFFFFF; border-bottom:1px solid #e5e5e5;border:1px solid #dfdfdf; border-radius:3px;}
.mess-box .mess_top{font-size:12px; color:#808080; height:42px; line-height:42px; padding:0 10px; background:#f5f5f5; border-bottom:1px solid #dfdfdf  }
.mess-box .mess_top p{ text-align:left; color:#888; line-height:18px;}
.mess-box .mess_tit{  text-align:left; line-height:42px;  display:inline-block; background:url(../images/ico_mess1.png?v=1.9.1) 0 center no-repeat;background-size:18px;  color:#888; font-style:normal; padding-left:20px; font-size:14px}
.mess-box .mess_tit em{ color:#ff8400; font-style:normal}
.mess-box .ts_mess{  text-align:right; line-height:42px; float:right; background:url(../images/ico_ts.png?v=1.9.1) 0 center no-repeat;background-size:14px; text-decoration:none; color:#888; padding-left:18px;font-size:12px}

.mess-box .list_mess{ font-size:12px; color:#808080; padding:0 10px 10px;  margin:0; border-radius:2px;}
.mess-box .mess_box{  padding:10px 0 0; text-align: left; overflow:hidden; position:relative;border-bottom:1px solid #e1e1e1}
.mess_box .clea_F{ clear:left; overflow:hidden}
.mess-box .mess_head{width:8%; height:35px; float:left;}
.mess-box .mess_head img{ width:35px; height:35px; border-radius:35px;}
.mess-box .list_mess .mess_R{ float:left; width:87%; padding-right:5%; padding-bottom:10px;cursor:pointer;}
.mess-box .list_mess .mess_reply{ width:87%; padding:6px 5% 6px 0; margin-left:8%; border-top:1px solid #ececec; clear:left; overflow:hidden}
.mess-box .mess_name{ color:#6299b5; font-size:14px; line-height:18px;}
.mess-box .mess_class{ color:#888; font-size:12px; }
.mess-box .mess_time{ color:#888; float:right; font-size:12px; line-height:20px;}
.mess-box .mess_infor{ padding:0; font-size:14px; color:#333; display:block;word-break:break-all; }
.mess-box .mess_close{ width:20px; height:20px; background:url(../images/ico_open.png?v=1.9.1) no-repeat;  margin-top:14px; position: absolute; top:8px; right:0}
.mess-box .mess_open{ width:20px; height:20px; background:url(../images/ico_open.png?v=1.9.1) bottom no-repeat; margin-top:14px;position: absolute; top:8px; right:0}
.mess-box .mess_new{ width:10px; height:10px; background:#f43531; border-radius:10px; position:absolute; left:30px; top:10px}
.mess-box .mess_more{ text-align:center; color:#4791b3; padding-top:10px;}
.mess-box .mess_more a{ color:#4791b3; }

/*回复输入框*/
.mess-box .reply_box{ width:92%; margin-left:8%; padding-bottom:10px;}
.mess-box .reply_input{ width:82%; height:30px; line-height:30px; background:#fff; padding:0 2%;border-radius:3px; border:1px solid #02a9ee ; font-size:14px; vertical-align:middle; box-shadow:0;  -webkit-appearance: none;
}
.mess-box .reply_box a{ height:30px;  background:#00a8ee; text-align:center; line-height:30px; font-size:14px; display:inline-block; color:#fff; border-radius:3px; text-decoration:none; border:1px solid #0097d6; width:10%; vertical-align:middle}


/*--切换--*/
.target_tab{margin-right:10px;}
.target_tab h2{ font-size:14px; font-weight:normal; color:#888;border-bottom:1px solid #e5e5e5; padding-bottom:6px; padding:0 0 10px;}
.target_tab h2 em{ color:#ff8330}
.target_tab .tab_ul{border-bottom:1px solid #e5e5e5;}
.target_tab .tab_ul a{ width:33.3%; line-height:39px; display:inline-block; font-size:15px; text-align:center; color:#333;}
.target_tab .tab_ul a b{ font-size:12px; color:#999; font-weight:normal}
.target_tab .tab_ul a b em{ color:#999}
.target_tab .tab_ul a.sel{ border-bottom:3px solid #00a8ee; color:#0085d0}
.target_tab .tab_ul a.sel b em{ color:#ff8330}
.target_tab .tab_ul a:hover{ color:#000}

/*--详情对象--*/
.target_detail{padding:0; border-radius:2px;font-size:14px;font-family:"微软雅黑";  margin:0}
.target_detail hr{ border-bottom:1px solid #ebebeb;border-top:none;border-left:none;border-right:none; margin:0 0 0 25px}
.target_detail a.operate-all{ display:block; color:#333; padding:15px 0 15px 10px; border-bottom:1px solid #e0e0e0;background:#f2f2f2;  text-decoration:none; position:relative; }
.resend_footer a.operate-all{ display: inline-block; color:#333; padding:15px 6px 15px 0; text-decoration:none; position:relative; }

.target_detail a.operate-all-1{ display:block; color:#333; padding:10px 0 10px 10px; border-bottom:1px solid #e0e0e0;background:#f2f2f2;  text-decoration:none; position:relative; }
.target_detail a.operate-btn{ display:inline-block; color:#555; padding:6px 0 6px 0; text-decoration:none;  width:24%}
.target_detail a.operate-no{ display:inline-block; color:#999; padding:6px 0 6px 0; text-decoration:none;  width:32%}
.target_detail a.operate-btn1{ display:inline-block; color:#777; padding:6px 0 6px 0; text-decoration:none; padding-right:30px; }
.target_detail a.operate-class{ display:block; color:#333; padding:15px 12px 15px 35px; text-decoration:none;  position:relative; font-weight:bold}
.target_detail a.operate-class1{ display:block; color:#333; padding:12px; text-decoration:none; background:#f2f2f2; border-bottom:1px solid #e0e0e0; position:relative}
.target_detail a.operate-class em{ font-size:12px; color:#999; padding:0 6px; font-weight:normal}
.target_detail .jt_up{ width:18px; height:18px; background:url(../images/jt_down.png?v=1.9.1)  center no-repeat; position:absolute; top:13px; right:10px; background-size:15px;}
.target_detail .jt_down{ width:18px; height:18px; background:url(../images/jt_r.png?v=1.9.1)no-repeat; position:absolute;background-size:15px; top:15px; right:10px}
.target_detail .fs_list{background:#fff; margin:0 0 0 60px;  font-size:14px;}
.target_detail .read_list{background:#fff; margin:0 0 15px 36px;  font-size:14px; color:#555}

.target_detail .gz_tit,.target_detail .wgz_tit{ font-size:14px; padding:0 0 10px 4px; color:#555}
.target_detail .gz_tit p,.target_detail .wgz_tit p{ padding-bottom:8px;}
.target_detail .gz_tit p{ color:#34cc33}
.target_detail .wgz_tit p{ color:#f68a45}
.target_detail .wgz_tit .unread_list{background:#fff;font-size:14px; color:#555}
.target_detail .gz_tit em,.target_detail .wgz_tit em{font-size:12px; color:#999; padding:0 6px; font-weight:normal}
.target_detail .fs_list hr{border-top:0; border-left:0;border-bottom:1px solid #e0e0e0;}
.resend_footer { padding:0 2%; text-align:right;margin-top:15px; position:fixed; bottom:0; border-top:1px solid #e5e5e5; width:96%;box-shadow:0 0 5px rgba(229, 229, 229, .5); background:#fff  }

/*--添加图片、附件--*/
.pic_box{ border:1px solid#dcdcdc; padding:8px 8px 8px; margin-left:80px; color:#777; clear:left; overflow:hidden; margin-top: -25px;}
.filegrid{float:left;width:72px; height:72px; vertical-align:middle}
a.up_img{ width:72px; height:72px;  padding:0; margin:0; overflow:hidden; display:inline-block; margin:0 6px 6px 0; position:relative; vertical-align:top }
a.up_img:hover{ vertical-align:middle}
a.up_img span{ width:20px; height:20px; position:absolute; top:0; right:0; background:url(../images/ico_det.gif?v=1.9.1) no-repeat; text-indent:-9999px; overflow:hidden; display:block}
a.up_img:hover span{  background:url(../images/ico_det1.gif?v=1.9.1) no-repeat; }
a.up_img img{ width:72px; height:72px; }

a.up_file{ width:260px; height:72px;  padding:0; margin:0; overflow:hidden; display:inline-block;  margin:0 10px 0 0; position:relative; color:#000; font-size:13px;}
a.up_file:hover{}
a.up_file span{ width:17px; height:17px; position:absolute; top:0; left:55px; background:url(../images/notice/ico_det.gif?v=1.9.1) no-repeat; text-indent:-9999px; overflow:hidden; display:block}
a.up_file:hover span{  background:url(../images/notice/ico_det1.gif?v=1.9.1) no-repeat; }
a.up_file img{ width:72px; height:72px; vertical-align:middle; float:left; margin-right:6px; }
a.up_file p{ padding:12px 0 0;}
a.up_file b{ color:#888; font-weight:normal}

#richcontent{
	width:100%;
	resize : none;
	height: 108px;
	border:none;
}


