@charset "utf-8";
/* CSS Document */
body {font-family:PingFangSC-Light,'helvetica neue','hiragino sans gb',tahoma,'microsoft yahei ui','microsoft yahei',simsun,sans-serif; font-size: 12px;line-height: 1.5;}
*{margin: 0; padding: 0; box-sizing:border-box;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;}
ol, ul {list-style: outside none none;}
address, caption, cite, code, dfn, em, strong, th, var, optgroup {font-style: normal;}
input, button, textarea, select, optgroup, option {font-family: inherit;font-size: inherit;font-style: inherit;font-weight: inherit;}
fieldset, img, a img, *:link img, *:visited img {border: 0 none;}
a {text-decoration: none;}
a:hover {text-decoration: none;}
:focus {outline: 0 none;}
table {border-collapse: collapse;border-spacing: 0;}
caption, th {text-align: left;}
sup, sub {font-size: 100%;vertical-align: baseline;}
blockquote, q {quotes: none;}
blockquote::before, blockquote::after, q::before, q::after {content: none;}
.clearfix {}
.clear, .clearfix::after {clear: both;display: block;height: 0;overflow: hidden;}
.clearfix::after {content: ".";visibility: hidden;}
.font_l{ text-align:left}
.font_r{ text-align:right}



body{ width:100%; height:100%;position:relative; padding-top:62px;}
/*--顶部 logo--*/
.logo_nav{width:100%;position:fixed;background-color: #fff;top: 0;z-index: 5;left: 0;box-shadow: 0 0 0 1px #ececec;}
.logo_warp{ width:1024px; margin:auto; padding:10px 0 0; height:62px; clear:left;position:relative;}
.logo_warp .l_box{ width:50%; float:left}
.logo_warp .l_box .logo{ padding:0; margin-right:20px; }

.logo_warp .l_box .wxlogo{ padding:0;}
.logo_warp .l_box .wxlogo img{ height:32px;}
.logo_warp .r_box{ width:50%; float:left; text-align:right}
.logo_warp .r_box a{ margin-left:15px; vertical-align:middle; }
.logo_warp .r_box .gz_code{ width:42px; height:42px; background:url(../images/login2/top_gzus.png?v=1.9.1) 0 0 no-repeat; display:inline-block; }
.logo_warp .r_box .gz_code:hover{ background:url(../images/login2/top_gzus.png?v=1.9.1) 0 -42px no-repeat; }
.logo_warp .r_box .gz_qq{ width:42px; height:42px; background:url(../images/login2/top_gzus.png?v=1.9.1) -42px 0 no-repeat; display:inline-block; }
.logo_warp .r_box .gz_qq:hover{  background:url(../images/login2/top_gzus.png?v=1.9.1) -42px -42px no-repeat; }
.logo_warp .r_box .gz_Colle{ width:42px; height:42px; background:url(../images/login2/top_gzus.png?v=1.9.1) -84px 0 no-repeat; display:inline-block; }
.logo_warp .r_box .gz_Colle:hover{background:url(../images/login2/top_gzus.png?v=1.9.1) -84px -42px no-repeat; }

.logo_warp .r_box .gz_join{font-size:14px; color:#00c800}
.logo_warp .r_box .gz_join:hover{ text-decoration:underline}








.m_warp{ width:1024px; margin:20px auto 10px; border:1px solid #d9dadc; padding:30px 60px; background:#fff;}
.m_warp .tit{ font-size:22px; padding-bottom:10px; color:#000; border-bottom:2px solid #00c800;}
.m_warp .con{ padding:20px 0; }

/*--操作方法--*/
.scan_step{ padding:0}
.scan_step .ts_step{padding:0;padding-right:20px;}
.scan_step .ts_step h2{ font-size:16px; color:#000; padding-bottom:15px; font-weight:normal}
.scan_step .ts_step h2 span{ padding:0 16px 0 0; font-size:18px; margin-right:4px; background:url(../images/login2/caozuo_line.png?v=1.9.1) right no-repeat; color:#00c800; display:inline-block}
.scan_step .ts_step h2 b{ font-size:13px; color:#f2142e}
.scan_step .ts_step p{ font-size:14px; color:#00c800; padding-left:73px;}
.scan_step .ts_step p img{ margin-top:8px;}
.scan_step .ts_step a{ width:106px; height:32px; line-height:32px; text-align:center; line-height:32px; margin:auto;font-size:14px; border-radius:3px; display:block;background:#00c800; color:#fff;   border:1px solid #44b549; float:right; margin-top:10px; margin-right:10px;}
.scan_step .ts_step a:hover{ background:#00ad00;}


.frm_bt{ padding-top:20px; margin-top:30px; text-align:center; border-top:1px solid #ebebeb}
.frm_bt a{ width:156px; height:32px; line-height:32px; text-align:center; line-height:32px; font-size:14px; border-radius:3px; display: inline-block;}
.frm_bt a.bt_green{background:#00c800; color:#fff;   border:1px solid #44b549;}
.frm_bt a.bt_green:hover{ background:#00ad00;}


/*--扫码--*/

.scan_cade{ width:130px; padding:2px 2px 0 2px; border:1px solid #dedede; border-radius:2px; position:absolute; top:62px; right:75px; box-shadow:0 0 5px rgba(0, 0, 79, .2); background:#fff}
.scan_cade img{ width:100%}
.scan_cade p{ text-align:center; font-size:12px; color:#555; padding-bottom:6px;}
.scan_cade .jt_bg{ width:12px; height:7px; background:url(../images/login2/top_s_jt.png?v=1.9.1) no-repeat; position: absolute; top:-7px; left:60px;}


/*--底部--*/
.foot_warp{  padding:15px; text-align:center; font-size:12px; color:#999;}
.foot_warp a{color:#999;}


/*--浮动窗口关注我们/客服--*/
.float_winR{ width:70px;background:#eeeeee;box-shadow:0 0 6px #999;position:fixed;top:40%;right:20px;border-radius:3px;z-index:100; }
.float_winR a{color:#333; text-align:center; padding:11px 0 8px 0; display:block; }
.float_winR a img{ margin-bottom:3px;}
.float_winR a.line_b{ border-bottom:1px solid #cccccc;}
.pop_code1{position:absolute;top:-45px;right:86px; padding:5px 0; background:#fff; font-size:12px; width:184px; text-align:center; border:1px solid #cccccc; box-shadow: #ccc 0px 0px 5px;border-radius:3px;}
.pop_code1 .jt{width:9px;height:11px;background:url(../images/pop_rjt.png?v=1.9.1) no-repeat;position:absolute;top:80px; right:-9px;}
.pop_code1 p{ font-size:14px; line-height:22px; color:#333;}
.pop_code1 p b{ font-size:14px; color:#1fa9ff; font-weight:normal;}



