@charset "utf-8";
/* CSS Document */

.customricheditor{ border:1px solid#dcdcdc; padding:0; color:#a6a6a6; width:570px; min-height:168px;resize:none; position:relative }
.customricheditor_cover{width:100%;height:100%;position:absolute;top:0;left:0;z-index:2;opacity:0;display:none;}
.Word_limit{ position:absolute; bottom:0; right:0; font-size:12px; color:#888; background:#fff; padding:2px 4px; width:562px; text-align:right}
.Word_limit b{font-weight:normal}

/*--编辑器--*/
.editorwz{ width:570px; height:34px;  border-bottom:1px solid #dcdcdc}
.editorwz ul{ list-style:none; clear:left overflow:hidden;}
.editorwz ul li{ float:left; height:34px; margin:0 4px }
.editorwz ul li.more{ margin:0 8px;}
.editorwz ul li a{ padding:0 5px;height:34px; display:inline-block; background:url(../images/notice/bg_longwb.png?v=1.9.1) center no-repeat; overflow:hidden}
.editorwz ul li .li_Bold{ width:10px; background-position:8px 7px;}
.editorwz ul li .li_Bold:hover{ width:10px; background-position:8px -53px;}
.editorwz ul li.sel .li_Bold{ width:10px; background-position:8px -23px;}

.editorwz ul li .li_Italicd{ width:10px; background-position:-22px 7px;}
.editorwz ul li .li_Italicd:hover{ width:10px; background-position:-22px -53px;}
.editorwz ul li.sel .li_Italicd{ width:10px; background-position:-22px -23px;}

.editorwz ul li .li_Underline{ width:10px; background-position:-50px 7px;}
.editorwz ul li .li_Underline:hover{ width:10px; background-position:-50px -53px;}
.editorwz ul li.sel .li_Underline{ width:10px; background-position:-50px -23px;}

.editorwz ul li .li_detline{ width:20px; background-position:-82px 7px;}
.editorwz ul li .li_detline:hover{ width:20px; background-position:-82px -53px;}
.editorwz ul li.sel .li_detline{ width:20px; background-position:-82px -23px;}

.editorwz ul li .li_Front{ width:20px; padding-right:0; background-position:-114px 7px;}
.editorwz ul li .li_Front:hover{ width:20px; background-position:-114px -53px;}
.editorwz ul li.sel .li_Front{ width:20px; background-position:-114px -53px;}

.editorwz ul li .li_background{ width:20px; padding-right:0; background-position:-150px 7px;}
.editorwz ul li .li_background:hover{ width:20px; background-position:-150px -53px;}
.editorwz ul li.sel .li_background{ width:20px; background-position:-150px -23px;}

.editorwz ul li .li_more{ width:13px;overflow: hidden; vertical-align: middle; background:none; padding:0;margin-left:-3px;}
.editorwz ul li .li_more i{display: inline-block; width:0;height:0;font-size:0; border-width: 4px;  border-color: #777 transparent transparent;border-style: solid;}
.editorwz ul li.li_size{ border-right:1px solid #dddddd; padding-right:10px;}


.editorwz ul li .li_clear{ width:10px; background-position:-180px 7px;}
.editorwz ul li .li_clear:hover{ width:10px; background-position:-180px -53px;}
.editorwz ul li.sel .li_clear{ width:10px; background-position:-180px -23px;}

.editorwz ul li .li_size{width:46px; height:24px;line-height: 24px; padding:0 6px 0 8px; background:none; font-size:12px; border:1px solid #d9d9d9; margin-top:4px;}
.editorwz ul li .li_size span{color: #333; text-decoration: none;}
.editorwz ul li .li_size i{display: inline-block; width:0;height:0;font-size:0; border-width:4px; border-color:#777 transparent transparent;border-style: solid;position:relative;top:3px;left:5px;}

.editorwz ul li .li_quote{ width:10px; background-position:-200px 7px;}
.editorwz ul li .li_quote:hover{ width:10px; background-position:-200px -53px;}
.editorwz ul li.sel .li_quote{ width:10px; background-position:-200px -23px;}

.editorwz ul li .li_outul{ width:20px; background-position:-230px 7px;}
.editorwz ul li .li_outul:hover{ width:20px; background-position:-230px -53px;}
.editorwz ul li.sel .li_outul{ width:20px; background-position:-230px -23px;}

.editorwz ul li .li_inul{ width:20px; background-position:-260px 7px;}
.editorwz ul li .li_inul:hover{ width:20px; background-position:-260px -53px;}
.editorwz ul li.sel .li_inul{ width:20px; background-position:-260px -23px;}

.editorwz ul li .li_left{ width:20px; background-position:-290px 7px;}
.editorwz ul li .li_left:hover{ width:20px; background-position:-290px -53px;}
.editorwz ul li.sel .li_left{ width:20px; background-position:-290px -23px;}

.editorwz ul li .li_center{ width:20px; background-position:-320px 7px;}
.editorwz ul li .li_center:hover{ width:20px; background-position:-320px -53px;}
.editorwz ul li.sel .li_center{ width:20px; background-position:-320px -23px;}

.editorwz ul li .li_right{ width:20px; background-position:-350px 7px;}
.editorwz ul li .li_right:hover{ width:20px; background-position:-350px -53px;}
.editorwz ul li.sel .li_right{ width:20px; background-position:-350px -23px;}

.editorwz ul li .li_Front i { width: 13px; height: 24px;margin-left:1px;padding: 0; display:inline-block }
/*--控制字体大小--*/
.size_list{position: absolute; background: #fff; color: #333; border: 1px solid #ccc;    border-radius: 2px;   padding: 2px; box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2); left:252px; top:30px; z-index:1}
.size_list ul {margin: 0; padding: 0; clear: both;}
.size_list ul li { position: static; float: none;margin:0;padding:0;display: inline;}
.size_list ul li a { white-space: nowrap;min-width: 50px; _width: 50px; padding: 7px 13px;  color: #333;display: block; cursor: pointer;text-decoration: none;}
.size_list ul li a:hover{ background:#f2f2f5; color:#fa8447}
/*--控制前景色--*/
.outul_list{position:absolute;	background: #fff;border-radius:3px;border: 1px solid #ccc;
box-shadow: 0 4px 20px 1px rgba(0,0,0,0.2);	z-index: 2; padding:16px;}
.outul_list h2 {height: 20px;margin: 0 0 2px;overflow: hidden;line-height: 20px; font-weight:normal; color:#555; font-size:12px;}
.outul_list h2:hover {background: #d5e1f2;}
.outul_list h2 span {display: inline-block;	width: 14px;height: 14px;margin: 0 10px 0 1px;padding: 2px;	border: 1px solid #ccc;	background: #d6e7ff;vertical-align: top;}
.outul_list h2 i {display: inline-block;width: 100%;height: 100%;	overflow: hidden;vertical-align: top;}
.outul_list h3 {height: 23px;margin: 0 0 2px;padding: 0 5px;background: #eee;overflow: hidden;line-height: 23px; font-weight:normal; color:#555; font-size:12px;}
.outul_list ul {margin: 0 -4px 2px 1px;}
.outul_list li {float: left;width: 13px;margin: 0 4px 0 0;	overflow: hidden;}
.outul_list li a {display: block;	width: 11px;height: 11px;	margin: 0 0 5px;border: 1px solid #e2e4e7;overflow: hidden;cursor: default;}
.outul_list li a i {display: block;	width: 11px;height: 11px;overflow: hidden;}
.outul_list li a:hover, .outul_list li a.curr {	border-color: #f29436;}
.outul_list li a:hover i, .outul_list li a.curr i {	width: 9px;	height: 9px;border: 1px solid #ffe294;}
.outul_list li span {display: block;width: 13px;height: 65px;overflow: hidden;}
.outul_list li span a {	height: 13px;margin: 0;	border-top: none;border-bottom: none;}
.outul_list li span a.f {height: 12px;	border-top: 1px solid #e2e4e7;}
.outul_list li span a.l {height: 12px;	border-bottom: 1px solid #e2e4e7;}
.outul_list li span a i {height: 13px;}
.outul_list li span a.f i, .outul_list li span a.l i {	height: 12px;}
.outul_list li span a:hover, .outul_list li span a.curr {height: 11px;	border: 1px solid #f29436!important;}
.outul_list li span a:hover i, .outul_list li span a.curr i {height: 9px;}
.outul_list .ul2 {margin: 0 -4px 3px 0;*margin:0 -4px 7px 0; clear:both; overflow:hidden }
.outul_list .ul2 li {width: 26px;margin: 0 4px 4px 0; float:left}
.outul_list .ul2 li a {width: 24px;	height: 24px;margin: 0;}
.outul_list .ul2 li a i {width: 24px;height: 24px;}
.outul_list .ul2 li a:hover i, .inul_list .ul2 li a.curr i {width: 22px;height: 22px;}



/*屏蔽默认样式*/
.customricheditor .edui-editor-toolbarbox{display:none;}
.customricheditor .edui-default .edui-editor{border:none;}